### Health Amenities[['icons/### Health Amenities.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity pharmacy[['icons/amenity=pharmacy.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity health_center[['icons/amenity=health_center.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity hospital[['icons/amenity=hospital.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity physician[['icons/amenity=physician.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity childrens_hospital[['icons/amenity=childrens_hospital.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>### Education amenities[['icons/### Education amenities.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity kindergarten[['icons/amenity=kindergarten.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity school[['icons/amenity=school.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity college[['icons/amenity=college.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity library[['icons/amenity=library.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity university[['icons/amenity=university.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity informal_education[['icons/amenity=informal_education.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>### Civic amenities[['icons/### Civic amenities.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity police[['icons/amenity=police.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity post_office[['icons/amenity=post_office.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity prison[['icons/amenity=prison.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>office government[['icons/office=government.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>office newspaper[['icons/office=newspaper.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>office ngo[['icons/office=ngo.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity water_source[['icons/amenity=water_source.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity restroom[['icons/amenity=restroom.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity place_of_worship[['icons/amenity=place_of_worship.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity hall[['icons/amenity=hall.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity marketplace[['icons/amenity=marketplace.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity bank[['icons/amenity=bank.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity complaint_center[['icons/amenity=complaint_center.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity fuel[['icons/amenity=fuel.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity cinema[['icons/amenity=cinema.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity library[['icons/amenity=library.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>amenity restaurant[['icons/amenity=restaurant.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>shop seafood[['icons/shop=seafood.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>man_made water_well[['icons/man_made=water_well.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>historic yes[['icons/historic=yes.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>waterway dock[['icons/waterway=dock.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>sport soccer[['icons/sport=soccer.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>sport basketball[['icons/sport=basketball.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>sport volleyball[['icons/sport=volleyball.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>sport badmiton[['icons/sport=badmiton.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>sport tennis[['icons/sport=tennis.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>sport horse_racing[['icons/sport=horse_racing.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>leisure playground[['icons/leisure=playground.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>man_made tower[['icons/man_made=tower.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>### Landuse[['icons/### Landuse.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>landuse farm[['icons/landuse=farm.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>landuse meadow[['icons/landuse=meadow.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>landuse fishpond[['icons/landuse=fishpond.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>landuse salt_field[['icons/landuse=salt_field.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>landuse forest[['icons/landuse=forest.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>landuse landfill[['icons/landuse=landfill.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>landuse military[['icons/landuse=military.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>landuse conservation_forest[['icons/landuse=conservation_forest.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>landuse family_forest[['icons/landuse=family_forest.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>landuse peoples_plantations[['icons/landuse=peoples_plantations.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>landuse community_forest[['icons/landuse=community_forest.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>landuse industrial_forest[['icons/landuse=industrial_forest.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>### To be done[['icons/### To be done.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>maternity[['icons/maternity.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>non-industrial–farming[['icons/non-industrial–farming.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>fuel-for-motos[['icons/fuel-for-motos.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>boat-dock[['icons/boat-dock.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>livestock[['icons/livestock.svg' width='50' height='50']]
 <span class='attribution'>attribution</span>