<div class='
'> <a>
</a> </div><div class='### Structural indicators
'> <a>### Structural indicators
</a> </div><div class='building:structure=confined_masonry
'> <a>building:structure=confined_masonry
</a> </div><div class='building:structure=plastered
'> <a>building:structure=plastered
</a> </div><div class='building:structure=reinforced_masonry
'> <a>building:structure=reinforced_masonry
</a> </div><div class='building:structure=unreinforced_masonry
'> <a>building:structure=unreinforced_masonry
</a> </div><div class='building:roof=weed
'> <a>building:roof=weed
</a> </div><div class='building:roof=asbestos
'> <a>building:roof=asbestos
</a> </div><div class='building:roof=tile
'> <a>building:roof=tile
</a> </div><div class='building:roof=wood
'> <a>building:roof=wood
</a> </div><div class='building:roof=tin
'> <a>building:roof=tin
</a> </div><div class='building:condition=excellent
'> <a>building:condition=excellent
</a> </div><div class='building:condition=good
'> <a>building:condition=good
</a> </div><div class='building:condition=bad
'> <a>building:condition=bad
</a> </div><div class='building:condition=very bad
'> <a>building:condition=very bad
</a> </div><div class='building:wall=bamboo
'> <a>building:wall=bamboo
</a> </div><div class='building:wall=half
'> <a>building:wall=half
</a> </div><div class='building:wall=stone
'> <a>building:wall=stone
</a> </div><div class='building:wall=wood 
'> <a>building:wall=wood 
</a> </div><div class='building:foundation=earthen
'> <a>building:foundation=earthen
</a> </div><div class='building:foundation=wooden
'> <a>building:foundation=wooden
</a> </div><div class='building:foundation=cement
'> <a>building:foundation=cement
</a> </div><div class='building:foundation=tile
'> <a>building:foundation=tile
</a> </div><div class='building:levels=1
'> <a>building:levels=1
</a> </div><div class='building:levels=2
'> <a>building:levels=2
</a> </div><div class='building:levels=3
'> <a>building:levels=3
</a> </div><div class='building:levels=4
'> <a>building:levels=4
</a> </div><div class='building:levels=5
'> <a>building:levels=5
</a> </div><div class='building:levels=6
'> <a>building:levels=6
</a> </div><div class='building:levels=7
'> <a>building:levels=7
</a> </div><div class='building:levels=8
'> <a>building:levels=8
</a> </div><div class='building:levels=9
'> <a>building:levels=9
</a> </div><div class='building:levels=10
'> <a>building:levels=10
</a> </div><div class='building:levels=10+
'> <a>building:levels=10+
</a> </div><div class='
'> <a>
</a> </div><div class='### Health Amenities
'> <a>### Health Amenities
</a> </div><div class='amenity=pharmacy
'> <a>amenity=pharmacy
</a> </div><div class='amenity=health_center
'> <a>amenity=health_center
</a> </div><div class='amenity=hospital
'> <a>amenity=hospital
</a> </div><div class='amenity=physician
'> <a>amenity=physician
</a> </div><div class='amenity=drugstore
'> <a>amenity=drugstore
</a> </div><div class='amenity=doctors
'> <a>amenity=doctors
</a> </div><div class='
'> <a>
</a> </div><div class='### Education amenities
'> <a>### Education amenities
</a> </div><div class='amenity=kindergarten
'> <a>amenity=kindergarten
</a> </div><div class='amenity=school
'> <a>amenity=school
</a> </div><div class='amenity=college
'> <a>amenity=college
</a> </div><div class='amenity=library
'> <a>amenity=library
</a> </div><div class='amenity=university
'> <a>amenity=university
</a> </div><div class='amenity=primary 
'> <a>amenity=primary 
</a> </div><div class='amenity=secondary 
'> <a>amenity=secondary 
</a> </div><div class='amenity=informal 
'> <a>amenity=informal 
</a> </div><div class='
'> <a>
</a> </div><div class='### Civic amenities
'> <a>### Civic amenities
</a> </div><div class='amenity= police
'> <a>amenity= police
</a> </div><div class='amenity= post_office
'> <a>amenity= post_office
</a> </div><div class='amenity= prison
'> <a>amenity= prison
</a> </div><div class='amenity= townhall
'> <a>amenity= townhall
</a> </div><div class='landuse=military
'> <a>landuse=military
</a> </div><div class='office=government
'> <a>office=government
</a> </div><div class='office=newspaper
'> <a>office=newspaper
</a> </div><div class='office=ngo
'> <a>office=ngo
</a> </div><div class='office=administrative 
'> <a>office=administrative 
</a> </div><div class='amenity=water_source
'> <a>amenity=water_source
</a> </div><div class='amenity=restroom
'> <a>amenity=restroom
</a> </div><div class='amenity=place_of_worship
'> <a>amenity=place_of_worship
</a> </div><div class='amenity=hall
'> <a>amenity=hall
</a> </div><div class='amenity=marketplace
'> <a>amenity=marketplace
</a> </div><div class='amenity=bank
'> <a>amenity=bank
</a> </div><div class='amenity=complaint_center
'> <a>amenity=complaint_center
</a> </div><div class='amenity=fuel
'> <a>amenity=fuel
</a> </div><div class='amenity=cinema
'> <a>amenity=cinema
</a> </div><div class='amenity=library
'> <a>amenity=library
</a> </div><div class='shop=seafood
'> <a>shop=seafood
</a> </div><div class='man_made=water_well
'> <a>man_made=water_well
</a> </div><div class='historic=tomb
'> <a>historic=tomb
</a> </div><div class='waterway=dock
'> <a>waterway=dock
</a> </div><div class='sport=soccer
'> <a>sport=soccer
</a> </div><div class='sport=basketball
'> <a>sport=basketball
</a> </div><div class='sport=volleyball
'> <a>sport=volleyball
</a> </div><div class='sport=badmiton
'> <a>sport=badmiton
</a> </div><div class='sport=tennis
'> <a>sport=tennis
</a> </div><div class='sport=equestrian
'> <a>sport=equestrian
</a> </div><div class='landuse=landfill
'> <a>landuse=landfill
</a> </div><div class='leisure=playground
'> <a>leisure=playground
</a> </div><div class='man_made: tower
'> <a>man_made: tower
</a> </div><div class='bridge: yes
'> <a>bridge: yes
</a> </div><div class='
'> <a>
</a> </div><div class='### Landuse
'> <a>### Landuse
</a> </div><div class='landuse=farm
'> <a>landuse=farm
</a> </div><div class='landuse=meadowgrass
'> <a>landuse=meadowgrass
</a> </div><div class='landuse=fishpond
'> <a>landuse=fishpond
</a> </div><div class='landuse=salt_field
'> <a>landuse=salt_field
</a> </div><div class='landuse=forest
'> <a>landuse=forest
</a> </div><div class='landuse=conservation_forest
'> <a>landuse=conservation_forest
</a> </div><div class='landuse=family_forest
'> <a>landuse=family_forest
</a> </div><div class='landuse=peoples_plantations # (HTR)
'> <a>landuse=peoples_plantations # (HTR)
</a> </div><div class='landuse=community_forest # (HKM)
'> <a>landuse=community_forest # (HKM)
</a> </div><div class='landuse=industrial_forest # (HTI)
'> <a>landuse=industrial_forest # (HTI)
</a> </div><div class='
'><a>
</a></div><div class='### Structural indicators
'><a>### Structural indicators
</a></div><div class='building:structure=confined_masonry
'><a>building:structure=confined_masonry
</a></div><div class='building:structure=plastered
'><a>building:structure=plastered
</a></div><div class='building:structure=reinforced_masonry
'><a>building:structure=reinforced_masonry
</a></div><div class='building:structure=unreinforced_masonry
'><a>building:structure=unreinforced_masonry
</a></div><div class='building:roof=weed
'><a>building:roof=weed
</a></div><div class='building:roof=asbestos
'><a>building:roof=asbestos
</a></div><div class='building:roof=tile
'><a>building:roof=tile
</a></div><div class='building:roof=wood
'><a>building:roof=wood
</a></div><div class='building:roof=tin
'><a>building:roof=tin
</a></div><div class='building:condition=excellent
'><a>building:condition=excellent
</a></div><div class='building:condition=good
'><a>building:condition=good
</a></div><div class='building:condition=bad
'><a>building:condition=bad
</a></div><div class='building:condition=very bad
'><a>building:condition=very bad
</a></div><div class='building:wall=bamboo
'><a>building:wall=bamboo
</a></div><div class='building:wall=half
'><a>building:wall=half
</a></div><div class='building:wall=stone
'><a>building:wall=stone
</a></div><div class='building:wall=wood 
'><a>building:wall=wood 
</a></div><div class='building:foundation=earthen
'><a>building:foundation=earthen
</a></div><div class='building:foundation=wooden
'><a>building:foundation=wooden
</a></div><div class='building:foundation=cement
'><a>building:foundation=cement
</a></div><div class='building:foundation=tile
'><a>building:foundation=tile
</a></div><div class='building:levels=1
'><a>building:levels=1
</a></div><div class='building:levels=2
'><a>building:levels=2
</a></div><div class='building:levels=3
'><a>building:levels=3
</a></div><div class='building:levels=4
'><a>building:levels=4
</a></div><div class='building:levels=5
'><a>building:levels=5
</a></div><div class='building:levels=6
'><a>building:levels=6
</a></div><div class='building:levels=7
'><a>building:levels=7
</a></div><div class='building:levels=8
'><a>building:levels=8
</a></div><div class='building:levels=9
'><a>building:levels=9
</a></div><div class='building:levels=10
'><a>building:levels=10
</a></div><div class='building:levels=10+
'><a>building:levels=10+
</a></div><div class='
'><a>
</a></div><div class='### Health Amenities
'><a>### Health Amenities
</a></div><div class='amenity=pharmacy
'><a>amenity=pharmacy
</a></div><div class='amenity=health_center
'><a>amenity=health_center
</a></div><div class='amenity=hospital
'><a>amenity=hospital
</a></div><div class='amenity=physician
'><a>amenity=physician
</a></div><div class='amenity=drugstore
'><a>amenity=drugstore
</a></div><div class='amenity=doctors
'><a>amenity=doctors
</a></div><div class='
'><a>
</a></div><div class='### Education amenities
'><a>### Education amenities
</a></div><div class='amenity=kindergarten
'><a>amenity=kindergarten
</a></div><div class='amenity=school
'><a>amenity=school
</a></div><div class='amenity=college
'><a>amenity=college
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='amenity=university
'><a>amenity=university
</a></div><div class='amenity=primary 
'><a>amenity=primary 
</a></div><div class='amenity=secondary 
'><a>amenity=secondary 
</a></div><div class='amenity=informal 
'><a>amenity=informal 
</a></div><div class='
'><a>
</a></div><div class='### Civic amenities
'><a>### Civic amenities
</a></div><div class='amenity= police
'><a>amenity= police
</a></div><div class='amenity= post_office
'><a>amenity= post_office
</a></div><div class='amenity= prison
'><a>amenity= prison
</a></div><div class='amenity= townhall
'><a>amenity= townhall
</a></div><div class='landuse=military
'><a>landuse=military
</a></div><div class='office=government
'><a>office=government
</a></div><div class='office=newspaper
'><a>office=newspaper
</a></div><div class='office=ngo
'><a>office=ngo
</a></div><div class='office=administrative 
'><a>office=administrative 
</a></div><div class='amenity=water_source
'><a>amenity=water_source
</a></div><div class='amenity=restroom
'><a>amenity=restroom
</a></div><div class='amenity=place_of_worship
'><a>amenity=place_of_worship
</a></div><div class='amenity=hall
'><a>amenity=hall
</a></div><div class='amenity=marketplace
'><a>amenity=marketplace
</a></div><div class='amenity=bank
'><a>amenity=bank
</a></div><div class='amenity=complaint_center
'><a>amenity=complaint_center
</a></div><div class='amenity=fuel
'><a>amenity=fuel
</a></div><div class='amenity=cinema
'><a>amenity=cinema
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='shop=seafood
'><a>shop=seafood
</a></div><div class='man_made=water_well
'><a>man_made=water_well
</a></div><div class='historic=tomb
'><a>historic=tomb
</a></div><div class='waterway=dock
'><a>waterway=dock
</a></div><div class='sport=soccer
'><a>sport=soccer
</a></div><div class='sport=basketball
'><a>sport=basketball
</a></div><div class='sport=volleyball
'><a>sport=volleyball
</a></div><div class='sport=badmiton
'><a>sport=badmiton
</a></div><div class='sport=tennis
'><a>sport=tennis
</a></div><div class='sport=equestrian
'><a>sport=equestrian
</a></div><div class='landuse=landfill
'><a>landuse=landfill
</a></div><div class='leisure=playground
'><a>leisure=playground
</a></div><div class='man_made: tower
'><a>man_made: tower
</a></div><div class='bridge: yes
'><a>bridge: yes
</a></div><div class='
'><a>
</a></div><div class='### Landuse
'><a>### Landuse
</a></div><div class='landuse=farm
'><a>landuse=farm
</a></div><div class='landuse=meadowgrass
'><a>landuse=meadowgrass
</a></div><div class='landuse=fishpond
'><a>landuse=fishpond
</a></div><div class='landuse=salt_field
'><a>landuse=salt_field
</a></div><div class='landuse=forest
'><a>landuse=forest
</a></div><div class='landuse=conservation_forest
'><a>landuse=conservation_forest
</a></div><div class='landuse=family_forest
'><a>landuse=family_forest
</a></div><div class='landuse=peoples_plantations # (HTR)
'><a>landuse=peoples_plantations # (HTR)
</a></div><div class='landuse=community_forest # (HKM)
'><a>landuse=community_forest # (HKM)
</a></div><div class='landuse=industrial_forest # (HTI)
'><a>landuse=industrial_forest # (HTI)
</a></div><div class='
'><a>
</a></div><div class='### Structural indicators
'><a>### Structural indicators
</a></div><div class='building:structure=confined_masonry
'><a>building:structure=confined_masonry
</a></div><div class='building:structure=plastered
'><a>building:structure=plastered
</a></div><div class='building:structure=reinforced_masonry
'><a>building:structure=reinforced_masonry
</a></div><div class='building:structure=unreinforced_masonry
'><a>building:structure=unreinforced_masonry
</a></div><div class='building:roof=weed
'><a>building:roof=weed
</a></div><div class='building:roof=asbestos
'><a>building:roof=asbestos
</a></div><div class='building:roof=tile
'><a>building:roof=tile
</a></div><div class='building:roof=wood
'><a>building:roof=wood
</a></div><div class='building:roof=tin
'><a>building:roof=tin
</a></div><div class='building:condition=excellent
'><a>building:condition=excellent
</a></div><div class='building:condition=good
'><a>building:condition=good
</a></div><div class='building:condition=bad
'><a>building:condition=bad
</a></div><div class='building:condition=very bad
'><a>building:condition=very bad
</a></div><div class='building:wall=bamboo
'><a>building:wall=bamboo
</a></div><div class='building:wall=half
'><a>building:wall=half
</a></div><div class='building:wall=stone
'><a>building:wall=stone
</a></div><div class='building:wall=wood 
'><a>building:wall=wood 
</a></div><div class='building:foundation=earthen
'><a>building:foundation=earthen
</a></div><div class='building:foundation=wooden
'><a>building:foundation=wooden
</a></div><div class='building:foundation=cement
'><a>building:foundation=cement
</a></div><div class='building:foundation=tile
'><a>building:foundation=tile
</a></div><div class='building:levels=1
'><a>building:levels=1
</a></div><div class='building:levels=2
'><a>building:levels=2
</a></div><div class='building:levels=3
'><a>building:levels=3
</a></div><div class='building:levels=4
'><a>building:levels=4
</a></div><div class='building:levels=5
'><a>building:levels=5
</a></div><div class='building:levels=6
'><a>building:levels=6
</a></div><div class='building:levels=7
'><a>building:levels=7
</a></div><div class='building:levels=8
'><a>building:levels=8
</a></div><div class='building:levels=9
'><a>building:levels=9
</a></div><div class='building:levels=10
'><a>building:levels=10
</a></div><div class='building:levels=10+
'><a>building:levels=10+
</a></div><div class='
'><a>
</a></div><div class='### Health Amenities
'><a>### Health Amenities
</a></div><div class='amenity=pharmacy
'><a>amenity=pharmacy
</a></div><div class='amenity=health_center
'><a>amenity=health_center
</a></div><div class='amenity=hospital
'><a>amenity=hospital
</a></div><div class='amenity=physician
'><a>amenity=physician
</a></div><div class='amenity=drugstore
'><a>amenity=drugstore
</a></div><div class='amenity=doctors
'><a>amenity=doctors
</a></div><div class='
'><a>
</a></div><div class='### Education amenities
'><a>### Education amenities
</a></div><div class='amenity=kindergarten
'><a>amenity=kindergarten
</a></div><div class='amenity=school
'><a>amenity=school
</a></div><div class='amenity=college
'><a>amenity=college
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='amenity=university
'><a>amenity=university
</a></div><div class='amenity=primary 
'><a>amenity=primary 
</a></div><div class='amenity=secondary 
'><a>amenity=secondary 
</a></div><div class='amenity=informal 
'><a>amenity=informal 
</a></div><div class='
'><a>
</a></div><div class='### Civic amenities
'><a>### Civic amenities
</a></div><div class='amenity= police
'><a>amenity= police
</a></div><div class='amenity= post_office
'><a>amenity= post_office
</a></div><div class='amenity= prison
'><a>amenity= prison
</a></div><div class='amenity= townhall
'><a>amenity= townhall
</a></div><div class='landuse=military
'><a>landuse=military
</a></div><div class='office=government
'><a>office=government
</a></div><div class='office=newspaper
'><a>office=newspaper
</a></div><div class='office=ngo
'><a>office=ngo
</a></div><div class='office=administrative 
'><a>office=administrative 
</a></div><div class='amenity=water_source
'><a>amenity=water_source
</a></div><div class='amenity=restroom
'><a>amenity=restroom
</a></div><div class='amenity=place_of_worship
'><a>amenity=place_of_worship
</a></div><div class='amenity=hall
'><a>amenity=hall
</a></div><div class='amenity=marketplace
'><a>amenity=marketplace
</a></div><div class='amenity=bank
'><a>amenity=bank
</a></div><div class='amenity=complaint_center
'><a>amenity=complaint_center
</a></div><div class='amenity=fuel
'><a>amenity=fuel
</a></div><div class='amenity=cinema
'><a>amenity=cinema
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='shop=seafood
'><a>shop=seafood
</a></div><div class='man_made=water_well
'><a>man_made=water_well
</a></div><div class='historic=tomb
'><a>historic=tomb
</a></div><div class='waterway=dock
'><a>waterway=dock
</a></div><div class='sport=soccer
'><a>sport=soccer
</a></div><div class='sport=basketball
'><a>sport=basketball
</a></div><div class='sport=volleyball
'><a>sport=volleyball
</a></div><div class='sport=badmiton
'><a>sport=badmiton
</a></div><div class='sport=tennis
'><a>sport=tennis
</a></div><div class='sport=equestrian
'><a>sport=equestrian
</a></div><div class='landuse=landfill
'><a>landuse=landfill
</a></div><div class='leisure=playground
'><a>leisure=playground
</a></div><div class='man_made: tower
'><a>man_made: tower
</a></div><div class='bridge: yes
'><a>bridge: yes
</a></div><div class='
'><a>
</a></div><div class='### Landuse
'><a>### Landuse
</a></div><div class='landuse=farm
'><a>landuse=farm
</a></div><div class='landuse=meadowgrass
'><a>landuse=meadowgrass
</a></div><div class='landuse=fishpond
'><a>landuse=fishpond
</a></div><div class='landuse=salt_field
'><a>landuse=salt_field
</a></div><div class='landuse=forest
'><a>landuse=forest
</a></div><div class='landuse=conservation_forest
'><a>landuse=conservation_forest
</a></div><div class='landuse=family_forest
'><a>landuse=family_forest
</a></div><div class='landuse=peoples_plantations # (HTR)
'><a>landuse=peoples_plantations # (HTR)
</a></div><div class='landuse=community_forest # (HKM)
'><a>landuse=community_forest # (HKM)
</a></div><div class='landuse=industrial_forest # (HTI)
'><a>landuse=industrial_forest # (HTI)
</a></div><div class='
'><a>
</a></div><div class='### Structural indicators
'><a>### Structural indicators
</a></div><div class='building:structure=confined_masonry
'><a>building:structure=confined_masonry
</a></div><div class='building:structure=plastered
'><a>building:structure=plastered
</a></div><div class='building:structure=reinforced_masonry
'><a>building:structure=reinforced_masonry
</a></div><div class='building:structure=unreinforced_masonry
'><a>building:structure=unreinforced_masonry
</a></div><div class='building:roof=weed
'><a>building:roof=weed
</a></div><div class='building:roof=asbestos
'><a>building:roof=asbestos
</a></div><div class='building:roof=tile
'><a>building:roof=tile
</a></div><div class='building:roof=wood
'><a>building:roof=wood
</a></div><div class='building:roof=tin
'><a>building:roof=tin
</a></div><div class='building:condition=excellent
'><a>building:condition=excellent
</a></div><div class='building:condition=good
'><a>building:condition=good
</a></div><div class='building:condition=bad
'><a>building:condition=bad
</a></div><div class='building:condition=very bad
'><a>building:condition=very bad
</a></div><div class='building:wall=bamboo
'><a>building:wall=bamboo
</a></div><div class='building:wall=half
'><a>building:wall=half
</a></div><div class='building:wall=stone
'><a>building:wall=stone
</a></div><div class='building:wall=wood 
'><a>building:wall=wood 
</a></div><div class='building:foundation=earthen
'><a>building:foundation=earthen
</a></div><div class='building:foundation=wooden
'><a>building:foundation=wooden
</a></div><div class='building:foundation=cement
'><a>building:foundation=cement
</a></div><div class='building:foundation=tile
'><a>building:foundation=tile
</a></div><div class='building:levels=1
'><a>building:levels=1
</a></div><div class='building:levels=2
'><a>building:levels=2
</a></div><div class='building:levels=3
'><a>building:levels=3
</a></div><div class='building:levels=4
'><a>building:levels=4
</a></div><div class='building:levels=5
'><a>building:levels=5
</a></div><div class='building:levels=6
'><a>building:levels=6
</a></div><div class='building:levels=7
'><a>building:levels=7
</a></div><div class='building:levels=8
'><a>building:levels=8
</a></div><div class='building:levels=9
'><a>building:levels=9
</a></div><div class='building:levels=10
'><a>building:levels=10
</a></div><div class='building:levels=10+
'><a>building:levels=10+
</a></div><div class='
'><a>
</a></div><div class='### Health Amenities
'><a>### Health Amenities
</a></div><div class='amenity=pharmacy
'><a>amenity=pharmacy
</a></div><div class='amenity=health_center
'><a>amenity=health_center
</a></div><div class='amenity=hospital
'><a>amenity=hospital
</a></div><div class='amenity=physician
'><a>amenity=physician
</a></div><div class='amenity=drugstore
'><a>amenity=drugstore
</a></div><div class='amenity=doctors
'><a>amenity=doctors
</a></div><div class='
'><a>
</a></div><div class='### Education amenities
'><a>### Education amenities
</a></div><div class='amenity=kindergarten
'><a>amenity=kindergarten
</a></div><div class='amenity=school
'><a>amenity=school
</a></div><div class='amenity=college
'><a>amenity=college
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='amenity=university
'><a>amenity=university
</a></div><div class='amenity=primary 
'><a>amenity=primary 
</a></div><div class='amenity=secondary 
'><a>amenity=secondary 
</a></div><div class='amenity=informal 
'><a>amenity=informal 
</a></div><div class='
'><a>
</a></div><div class='### Civic amenities
'><a>### Civic amenities
</a></div><div class='amenity= police
'><a>amenity= police
</a></div><div class='amenity= post_office
'><a>amenity= post_office
</a></div><div class='amenity= prison
'><a>amenity= prison
</a></div><div class='amenity= townhall
'><a>amenity= townhall
</a></div><div class='landuse=military
'><a>landuse=military
</a></div><div class='office=government
'><a>office=government
</a></div><div class='office=newspaper
'><a>office=newspaper
</a></div><div class='office=ngo
'><a>office=ngo
</a></div><div class='office=administrative 
'><a>office=administrative 
</a></div><div class='amenity=water_source
'><a>amenity=water_source
</a></div><div class='amenity=restroom
'><a>amenity=restroom
</a></div><div class='amenity=place_of_worship
'><a>amenity=place_of_worship
</a></div><div class='amenity=hall
'><a>amenity=hall
</a></div><div class='amenity=marketplace
'><a>amenity=marketplace
</a></div><div class='amenity=bank
'><a>amenity=bank
</a></div><div class='amenity=complaint_center
'><a>amenity=complaint_center
</a></div><div class='amenity=fuel
'><a>amenity=fuel
</a></div><div class='amenity=cinema
'><a>amenity=cinema
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='shop=seafood
'><a>shop=seafood
</a></div><div class='man_made=water_well
'><a>man_made=water_well
</a></div><div class='historic=tomb
'><a>historic=tomb
</a></div><div class='waterway=dock
'><a>waterway=dock
</a></div><div class='sport=soccer
'><a>sport=soccer
</a></div><div class='sport=basketball
'><a>sport=basketball
</a></div><div class='sport=volleyball
'><a>sport=volleyball
</a></div><div class='sport=badmiton
'><a>sport=badmiton
</a></div><div class='sport=tennis
'><a>sport=tennis
</a></div><div class='sport=equestrian
'><a>sport=equestrian
</a></div><div class='landuse=landfill
'><a>landuse=landfill
</a></div><div class='leisure=playground
'><a>leisure=playground
</a></div><div class='man_made: tower
'><a>man_made: tower
</a></div><div class='bridge: yes
'><a>bridge: yes
</a></div><div class='
'><a>
</a></div><div class='### Landuse
'><a>### Landuse
</a></div><div class='landuse=farm
'><a>landuse=farm
</a></div><div class='landuse=meadowgrass
'><a>landuse=meadowgrass
</a></div><div class='landuse=fishpond
'><a>landuse=fishpond
</a></div><div class='landuse=salt_field
'><a>landuse=salt_field
</a></div><div class='landuse=forest
'><a>landuse=forest
</a></div><div class='landuse=conservation_forest
'><a>landuse=conservation_forest
</a></div><div class='landuse=family_forest
'><a>landuse=family_forest
</a></div><div class='landuse=peoples_plantations # (HTR)
'><a>landuse=peoples_plantations # (HTR)
</a></div><div class='landuse=community_forest # (HKM)
'><a>landuse=community_forest # (HKM)
</a></div><div class='landuse=industrial_forest # (HTI)
'><a>landuse=industrial_forest # (HTI)
</a></div><div class='
'><a>
</a></div><div class='### Structural indicators
'><a>### Structural indicators
</a></div><div class='building:structure=confined_masonry
'><a>building:structure=confined_masonry
</a></div><div class='building:structure=plastered
'><a>building:structure=plastered
</a></div><div class='building:structure=reinforced_masonry
'><a>building:structure=reinforced_masonry
</a></div><div class='building:structure=unreinforced_masonry
'><a>building:structure=unreinforced_masonry
</a></div><div class='building:roof=weed
'><a>building:roof=weed
</a></div><div class='building:roof=asbestos
'><a>building:roof=asbestos
</a></div><div class='building:roof=tile
'><a>building:roof=tile
</a></div><div class='building:roof=wood
'><a>building:roof=wood
</a></div><div class='building:roof=tin
'><a>building:roof=tin
</a></div><div class='building:condition=excellent
'><a>building:condition=excellent
</a></div><div class='building:condition=good
'><a>building:condition=good
</a></div><div class='building:condition=bad
'><a>building:condition=bad
</a></div><div class='building:condition=very bad
'><a>building:condition=very bad
</a></div><div class='building:wall=bamboo
'><a>building:wall=bamboo
</a></div><div class='building:wall=half
'><a>building:wall=half
</a></div><div class='building:wall=stone
'><a>building:wall=stone
</a></div><div class='building:wall=wood 
'><a>building:wall=wood 
</a></div><div class='building:foundation=earthen
'><a>building:foundation=earthen
</a></div><div class='building:foundation=wooden
'><a>building:foundation=wooden
</a></div><div class='building:foundation=cement
'><a>building:foundation=cement
</a></div><div class='building:foundation=tile
'><a>building:foundation=tile
</a></div><div class='building:levels=1
'><a>building:levels=1
</a></div><div class='building:levels=2
'><a>building:levels=2
</a></div><div class='building:levels=3
'><a>building:levels=3
</a></div><div class='building:levels=4
'><a>building:levels=4
</a></div><div class='building:levels=5
'><a>building:levels=5
</a></div><div class='building:levels=6
'><a>building:levels=6
</a></div><div class='building:levels=7
'><a>building:levels=7
</a></div><div class='building:levels=8
'><a>building:levels=8
</a></div><div class='building:levels=9
'><a>building:levels=9
</a></div><div class='building:levels=10
'><a>building:levels=10
</a></div><div class='building:levels=10+
'><a>building:levels=10+
</a></div><div class='
'><a>
</a></div><div class='### Health Amenities
'><a>### Health Amenities
</a></div><div class='amenity=pharmacy
'><a>amenity=pharmacy
</a></div><div class='amenity=health_center
'><a>amenity=health_center
</a></div><div class='amenity=hospital
'><a>amenity=hospital
</a></div><div class='amenity=physician
'><a>amenity=physician
</a></div><div class='amenity=drugstore
'><a>amenity=drugstore
</a></div><div class='amenity=doctors
'><a>amenity=doctors
</a></div><div class='
'><a>
</a></div><div class='### Education amenities
'><a>### Education amenities
</a></div><div class='amenity=kindergarten
'><a>amenity=kindergarten
</a></div><div class='amenity=school
'><a>amenity=school
</a></div><div class='amenity=college
'><a>amenity=college
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='amenity=university
'><a>amenity=university
</a></div><div class='amenity=primary 
'><a>amenity=primary 
</a></div><div class='amenity=secondary 
'><a>amenity=secondary 
</a></div><div class='amenity=informal 
'><a>amenity=informal 
</a></div><div class='
'><a>
</a></div><div class='### Civic amenities
'><a>### Civic amenities
</a></div><div class='amenity= police
'><a>amenity= police
</a></div><div class='amenity= post_office
'><a>amenity= post_office
</a></div><div class='amenity= prison
'><a>amenity= prison
</a></div><div class='amenity= townhall
'><a>amenity= townhall
</a></div><div class='landuse=military
'><a>landuse=military
</a></div><div class='office=government
'><a>office=government
</a></div><div class='office=newspaper
'><a>office=newspaper
</a></div><div class='office=ngo
'><a>office=ngo
</a></div><div class='office=administrative 
'><a>office=administrative 
</a></div><div class='amenity=water_source
'><a>amenity=water_source
</a></div><div class='amenity=restroom
'><a>amenity=restroom
</a></div><div class='amenity=place_of_worship
'><a>amenity=place_of_worship
</a></div><div class='amenity=hall
'><a>amenity=hall
</a></div><div class='amenity=marketplace
'><a>amenity=marketplace
</a></div><div class='amenity=bank
'><a>amenity=bank
</a></div><div class='amenity=complaint_center
'><a>amenity=complaint_center
</a></div><div class='amenity=fuel
'><a>amenity=fuel
</a></div><div class='amenity=cinema
'><a>amenity=cinema
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='shop=seafood
'><a>shop=seafood
</a></div><div class='man_made=water_well
'><a>man_made=water_well
</a></div><div class='historic=tomb
'><a>historic=tomb
</a></div><div class='waterway=dock
'><a>waterway=dock
</a></div><div class='sport=soccer
'><a>sport=soccer
</a></div><div class='sport=basketball
'><a>sport=basketball
</a></div><div class='sport=volleyball
'><a>sport=volleyball
</a></div><div class='sport=badmiton
'><a>sport=badmiton
</a></div><div class='sport=tennis
'><a>sport=tennis
</a></div><div class='sport=equestrian
'><a>sport=equestrian
</a></div><div class='landuse=landfill
'><a>landuse=landfill
</a></div><div class='leisure=playground
'><a>leisure=playground
</a></div><div class='man_made: tower
'><a>man_made: tower
</a></div><div class='bridge: yes
'><a>bridge: yes
</a></div><div class='
'><a>
</a></div><div class='### Landuse
'><a>### Landuse
</a></div><div class='landuse=farm
'><a>landuse=farm
</a></div><div class='landuse=meadowgrass
'><a>landuse=meadowgrass
</a></div><div class='landuse=fishpond
'><a>landuse=fishpond
</a></div><div class='landuse=salt_field
'><a>landuse=salt_field
</a></div><div class='landuse=forest
'><a>landuse=forest
</a></div><div class='landuse=conservation_forest
'><a>landuse=conservation_forest
</a></div><div class='landuse=family_forest
'><a>landuse=family_forest
</a></div><div class='landuse=peoples_plantations # (HTR)
'><a>landuse=peoples_plantations # (HTR)
</a></div><div class='landuse=community_forest # (HKM)
'><a>landuse=community_forest # (HKM)
</a></div><div class='landuse=industrial_forest # (HTI)
'><a>landuse=industrial_forest # (HTI)
</a></div><div class='
'><a>
</a></div><div class='### Structural indicators
'><a>### Structural indicators
</a></div><div class='building:structure=confined_masonry
'><a>building:structure=confined_masonry
</a></div><div class='building:structure=plastered
'><a>building:structure=plastered
</a></div><div class='building:structure=reinforced_masonry
'><a>building:structure=reinforced_masonry
</a></div><div class='building:structure=unreinforced_masonry
'><a>building:structure=unreinforced_masonry
</a></div><div class='building:roof=weed
'><a>building:roof=weed
</a></div><div class='building:roof=asbestos
'><a>building:roof=asbestos
</a></div><div class='building:roof=tile
'><a>building:roof=tile
</a></div><div class='building:roof=wood
'><a>building:roof=wood
</a></div><div class='building:roof=tin
'><a>building:roof=tin
</a></div><div class='building:condition=excellent
'><a>building:condition=excellent
</a></div><div class='building:condition=good
'><a>building:condition=good
</a></div><div class='building:condition=bad
'><a>building:condition=bad
</a></div><div class='building:condition=very bad
'><a>building:condition=very bad
</a></div><div class='building:wall=bamboo
'><a>building:wall=bamboo
</a></div><div class='building:wall=half
'><a>building:wall=half
</a></div><div class='building:wall=stone
'><a>building:wall=stone
</a></div><div class='building:wall=wood 
'><a>building:wall=wood 
</a></div><div class='building:foundation=earthen
'><a>building:foundation=earthen
</a></div><div class='building:foundation=wooden
'><a>building:foundation=wooden
</a></div><div class='building:foundation=cement
'><a>building:foundation=cement
</a></div><div class='building:foundation=tile
'><a>building:foundation=tile
</a></div><div class='building:levels=1
'><a>building:levels=1
</a></div><div class='building:levels=2
'><a>building:levels=2
</a></div><div class='building:levels=3
'><a>building:levels=3
</a></div><div class='building:levels=4
'><a>building:levels=4
</a></div><div class='building:levels=5
'><a>building:levels=5
</a></div><div class='building:levels=6
'><a>building:levels=6
</a></div><div class='building:levels=7
'><a>building:levels=7
</a></div><div class='building:levels=8
'><a>building:levels=8
</a></div><div class='building:levels=9
'><a>building:levels=9
</a></div><div class='building:levels=10
'><a>building:levels=10
</a></div><div class='building:levels=10+
'><a>building:levels=10+
</a></div><div class='
'><a>
</a></div><div class='### Health Amenities
'><a>### Health Amenities
</a></div><div class='amenity=pharmacy
'><a>amenity=pharmacy
</a></div><div class='amenity=health_center
'><a>amenity=health_center
</a></div><div class='amenity=hospital
'><a>amenity=hospital
</a></div><div class='amenity=physician
'><a>amenity=physician
</a></div><div class='amenity=drugstore
'><a>amenity=drugstore
</a></div><div class='amenity=doctors
'><a>amenity=doctors
</a></div><div class='
'><a>
</a></div><div class='### Education amenities
'><a>### Education amenities
</a></div><div class='amenity=kindergarten
'><a>amenity=kindergarten
</a></div><div class='amenity=school
'><a>amenity=school
</a></div><div class='amenity=college
'><a>amenity=college
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='amenity=university
'><a>amenity=university
</a></div><div class='amenity=primary 
'><a>amenity=primary 
</a></div><div class='amenity=secondary 
'><a>amenity=secondary 
</a></div><div class='amenity=informal 
'><a>amenity=informal 
</a></div><div class='
'><a>
</a></div><div class='### Civic amenities
'><a>### Civic amenities
</a></div><div class='amenity= police
'><a>amenity= police
</a></div><div class='amenity= post_office
'><a>amenity= post_office
</a></div><div class='amenity= prison
'><a>amenity= prison
</a></div><div class='amenity= townhall
'><a>amenity= townhall
</a></div><div class='landuse=military
'><a>landuse=military
</a></div><div class='office=government
'><a>office=government
</a></div><div class='office=newspaper
'><a>office=newspaper
</a></div><div class='office=ngo
'><a>office=ngo
</a></div><div class='office=administrative 
'><a>office=administrative 
</a></div><div class='amenity=water_source
'><a>amenity=water_source
</a></div><div class='amenity=restroom
'><a>amenity=restroom
</a></div><div class='amenity=place_of_worship
'><a>amenity=place_of_worship
</a></div><div class='amenity=hall
'><a>amenity=hall
</a></div><div class='amenity=marketplace
'><a>amenity=marketplace
</a></div><div class='amenity=bank
'><a>amenity=bank
</a></div><div class='amenity=complaint_center
'><a>amenity=complaint_center
</a></div><div class='amenity=fuel
'><a>amenity=fuel
</a></div><div class='amenity=cinema
'><a>amenity=cinema
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='shop=seafood
'><a>shop=seafood
</a></div><div class='man_made=water_well
'><a>man_made=water_well
</a></div><div class='historic=tomb
'><a>historic=tomb
</a></div><div class='waterway=dock
'><a>waterway=dock
</a></div><div class='sport=soccer
'><a>sport=soccer
</a></div><div class='sport=basketball
'><a>sport=basketball
</a></div><div class='sport=volleyball
'><a>sport=volleyball
</a></div><div class='sport=badmiton
'><a>sport=badmiton
</a></div><div class='sport=tennis
'><a>sport=tennis
</a></div><div class='sport=equestrian
'><a>sport=equestrian
</a></div><div class='landuse=landfill
'><a>landuse=landfill
</a></div><div class='leisure=playground
'><a>leisure=playground
</a></div><div class='man_made: tower
'><a>man_made: tower
</a></div><div class='bridge: yes
'><a>bridge: yes
</a></div><div class='
'><a>
</a></div><div class='### Landuse
'><a>### Landuse
</a></div><div class='landuse=farm
'><a>landuse=farm
</a></div><div class='landuse=meadowgrass
'><a>landuse=meadowgrass
</a></div><div class='landuse=fishpond
'><a>landuse=fishpond
</a></div><div class='landuse=salt_field
'><a>landuse=salt_field
</a></div><div class='landuse=forest
'><a>landuse=forest
</a></div><div class='landuse=conservation_forest
'><a>landuse=conservation_forest
</a></div><div class='landuse=family_forest
'><a>landuse=family_forest
</a></div><div class='landuse=peoples_plantations # (HTR)
'><a>landuse=peoples_plantations # (HTR)
</a></div><div class='landuse=community_forest # (HKM)
'><a>landuse=community_forest # (HKM)
</a></div><div class='landuse=industrial_forest # (HTI)
'><a>landuse=industrial_forest # (HTI)
</a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class=''><a></a></div><div class='
'><a>
</a></div><div class='### Structural indicators
'><a>### Structural indicators
</a></div><div class='building:structure=confined_masonry
'><a>building:structure=confined_masonry
</a></div><div class='building:structure=plastered
'><a>building:structure=plastered
</a></div><div class='building:structure=reinforced_masonry
'><a>building:structure=reinforced_masonry
</a></div><div class='building:structure=unreinforced_masonry
'><a>building:structure=unreinforced_masonry
</a></div><div class='building:roof=weed
'><a>building:roof=weed
</a></div><div class='building:roof=asbestos
'><a>building:roof=asbestos
</a></div><div class='building:roof=tile
'><a>building:roof=tile
</a></div><div class='building:roof=wood
'><a>building:roof=wood
</a></div><div class='building:roof=tin
'><a>building:roof=tin
</a></div><div class='building:condition=excellent
'><a>building:condition=excellent
</a></div><div class='building:condition=good
'><a>building:condition=good
</a></div><div class='building:condition=bad
'><a>building:condition=bad
</a></div><div class='building:condition=very bad
'><a>building:condition=very bad
</a></div><div class='building:wall=bamboo
'><a>building:wall=bamboo
</a></div><div class='building:wall=half
'><a>building:wall=half
</a></div><div class='building:wall=stone
'><a>building:wall=stone
</a></div><div class='building:wall=wood 
'><a>building:wall=wood 
</a></div><div class='building:foundation=earthen
'><a>building:foundation=earthen
</a></div><div class='building:foundation=wooden
'><a>building:foundation=wooden
</a></div><div class='building:foundation=cement
'><a>building:foundation=cement
</a></div><div class='building:foundation=tile
'><a>building:foundation=tile
</a></div><div class='building:levels=1
'><a>building:levels=1
</a></div><div class='building:levels=2
'><a>building:levels=2
</a></div><div class='building:levels=3
'><a>building:levels=3
</a></div><div class='building:levels=4
'><a>building:levels=4
</a></div><div class='building:levels=5
'><a>building:levels=5
</a></div><div class='building:levels=6
'><a>building:levels=6
</a></div><div class='building:levels=7
'><a>building:levels=7
</a></div><div class='building:levels=8
'><a>building:levels=8
</a></div><div class='building:levels=9
'><a>building:levels=9
</a></div><div class='building:levels=10
'><a>building:levels=10
</a></div><div class='building:levels=10+
'><a>building:levels=10+
</a></div><div class='
'><a>
</a></div><div class='### Health Amenities
'><a>### Health Amenities
</a></div><div class='amenity=pharmacy
'><a>amenity=pharmacy
</a></div><div class='amenity=health_center
'><a>amenity=health_center
</a></div><div class='amenity=hospital
'><a>amenity=hospital
</a></div><div class='amenity=physician
'><a>amenity=physician
</a></div><div class='amenity=drugstore
'><a>amenity=drugstore
</a></div><div class='amenity=doctors
'><a>amenity=doctors
</a></div><div class='
'><a>
</a></div><div class='### Education amenities
'><a>### Education amenities
</a></div><div class='amenity=kindergarten
'><a>amenity=kindergarten
</a></div><div class='amenity=school
'><a>amenity=school
</a></div><div class='amenity=college
'><a>amenity=college
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='amenity=university
'><a>amenity=university
</a></div><div class='amenity=primary 
'><a>amenity=primary 
</a></div><div class='amenity=secondary 
'><a>amenity=secondary 
</a></div><div class='amenity=informal 
'><a>amenity=informal 
</a></div><div class='
'><a>
</a></div><div class='### Civic amenities
'><a>### Civic amenities
</a></div><div class='amenity= police
'><a>amenity= police
</a></div><div class='amenity= post_office
'><a>amenity= post_office
</a></div><div class='amenity= prison
'><a>amenity= prison
</a></div><div class='amenity= townhall
'><a>amenity= townhall
</a></div><div class='landuse=military
'><a>landuse=military
</a></div><div class='office=government
'><a>office=government
</a></div><div class='office=newspaper
'><a>office=newspaper
</a></div><div class='office=ngo
'><a>office=ngo
</a></div><div class='office=administrative 
'><a>office=administrative 
</a></div><div class='amenity=water_source
'><a>amenity=water_source
</a></div><div class='amenity=restroom
'><a>amenity=restroom
</a></div><div class='amenity=place_of_worship
'><a>amenity=place_of_worship
</a></div><div class='amenity=hall
'><a>amenity=hall
</a></div><div class='amenity=marketplace
'><a>amenity=marketplace
</a></div><div class='amenity=bank
'><a>amenity=bank
</a></div><div class='amenity=complaint_center
'><a>amenity=complaint_center
</a></div><div class='amenity=fuel
'><a>amenity=fuel
</a></div><div class='amenity=cinema
'><a>amenity=cinema
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='shop=seafood
'><a>shop=seafood
</a></div><div class='man_made=water_well
'><a>man_made=water_well
</a></div><div class='historic=tomb
'><a>historic=tomb
</a></div><div class='waterway=dock
'><a>waterway=dock
</a></div><div class='sport=soccer
'><a>sport=soccer
</a></div><div class='sport=basketball
'><a>sport=basketball
</a></div><div class='sport=volleyball
'><a>sport=volleyball
</a></div><div class='sport=badmiton
'><a>sport=badmiton
</a></div><div class='sport=tennis
'><a>sport=tennis
</a></div><div class='sport=equestrian
'><a>sport=equestrian
</a></div><div class='landuse=landfill
'><a>landuse=landfill
</a></div><div class='leisure=playground
'><a>leisure=playground
</a></div><div class='man_made: tower
'><a>man_made: tower
</a></div><div class='bridge: yes
'><a>bridge: yes
</a></div><div class='
'><a>
</a></div><div class='### Landuse
'><a>### Landuse
</a></div><div class='landuse=farm
'><a>landuse=farm
</a></div><div class='landuse=meadowgrass
'><a>landuse=meadowgrass
</a></div><div class='landuse=fishpond
'><a>landuse=fishpond
</a></div><div class='landuse=salt_field
'><a>landuse=salt_field
</a></div><div class='landuse=forest
'><a>landuse=forest
</a></div><div class='landuse=conservation_forest
'><a>landuse=conservation_forest
</a></div><div class='landuse=family_forest
'><a>landuse=family_forest
</a></div><div class='landuse=peoples_plantations # (HTR)
'><a>landuse=peoples_plantations # (HTR)
</a></div><div class='landuse=community_forest # (HKM)
'><a>landuse=community_forest # (HKM)
</a></div><div class='landuse=industrial_forest # (HTI)
'><a>landuse=industrial_forest # (HTI)
</a></div><div class='
'><a>
</a></div><div class='### Structural indicators
'><a>### Structural indicators
</a></div><div class='building:structure=confined_masonry
'><a>building:structure=confined_masonry
</a></div><div class='building:structure=plastered
'><a>building:structure=plastered
</a></div><div class='building:structure=reinforced_masonry
'><a>building:structure=reinforced_masonry
</a></div><div class='building:structure=unreinforced_masonry
'><a>building:structure=unreinforced_masonry
</a></div><div class='building:roof=weed
'><a>building:roof=weed
</a></div><div class='building:roof=asbestos
'><a>building:roof=asbestos
</a></div><div class='building:roof=tile
'><a>building:roof=tile
</a></div><div class='building:roof=wood
'><a>building:roof=wood
</a></div><div class='building:roof=tin
'><a>building:roof=tin
</a></div><div class='building:condition=excellent
'><a>building:condition=excellent
</a></div><div class='building:condition=good
'><a>building:condition=good
</a></div><div class='building:condition=bad
'><a>building:condition=bad
</a></div><div class='building:condition=very bad
'><a>building:condition=very bad
</a></div><div class='building:wall=bamboo
'><a>building:wall=bamboo
</a></div><div class='building:wall=half
'><a>building:wall=half
</a></div><div class='building:wall=stone
'><a>building:wall=stone
</a></div><div class='building:wall=wood 
'><a>building:wall=wood 
</a></div><div class='building:foundation=earthen
'><a>building:foundation=earthen
</a></div><div class='building:foundation=wooden
'><a>building:foundation=wooden
</a></div><div class='building:foundation=cement
'><a>building:foundation=cement
</a></div><div class='building:foundation=tile
'><a>building:foundation=tile
</a></div><div class='building:levels=1
'><a>building:levels=1
</a></div><div class='building:levels=2
'><a>building:levels=2
</a></div><div class='building:levels=3
'><a>building:levels=3
</a></div><div class='building:levels=4
'><a>building:levels=4
</a></div><div class='building:levels=5
'><a>building:levels=5
</a></div><div class='building:levels=6
'><a>building:levels=6
</a></div><div class='building:levels=7
'><a>building:levels=7
</a></div><div class='building:levels=8
'><a>building:levels=8
</a></div><div class='building:levels=9
'><a>building:levels=9
</a></div><div class='building:levels=10
'><a>building:levels=10
</a></div><div class='building:levels=10+
'><a>building:levels=10+
</a></div><div class='
'><a>
</a></div><div class='### Health Amenities
'><a>### Health Amenities
</a></div><div class='amenity=pharmacy
'><a>amenity=pharmacy
</a></div><div class='amenity=health_center
'><a>amenity=health_center
</a></div><div class='amenity=hospital
'><a>amenity=hospital
</a></div><div class='amenity=physician
'><a>amenity=physician
</a></div><div class='amenity=drugstore
'><a>amenity=drugstore
</a></div><div class='amenity=doctors
'><a>amenity=doctors
</a></div><div class='
'><a>
</a></div><div class='### Education amenities
'><a>### Education amenities
</a></div><div class='amenity=kindergarten
'><a>amenity=kindergarten
</a></div><div class='amenity=school
'><a>amenity=school
</a></div><div class='amenity=college
'><a>amenity=college
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='amenity=university
'><a>amenity=university
</a></div><div class='amenity=primary 
'><a>amenity=primary 
</a></div><div class='amenity=secondary 
'><a>amenity=secondary 
</a></div><div class='amenity=informal 
'><a>amenity=informal 
</a></div><div class='
'><a>
</a></div><div class='### Civic amenities
'><a>### Civic amenities
</a></div><div class='amenity= police
'><a>amenity= police
</a></div><div class='amenity= post_office
'><a>amenity= post_office
</a></div><div class='amenity= prison
'><a>amenity= prison
</a></div><div class='amenity= townhall
'><a>amenity= townhall
</a></div><div class='landuse=military
'><a>landuse=military
</a></div><div class='office=government
'><a>office=government
</a></div><div class='office=newspaper
'><a>office=newspaper
</a></div><div class='office=ngo
'><a>office=ngo
</a></div><div class='office=administrative 
'><a>office=administrative 
</a></div><div class='amenity=water_source
'><a>amenity=water_source
</a></div><div class='amenity=restroom
'><a>amenity=restroom
</a></div><div class='amenity=place_of_worship
'><a>amenity=place_of_worship
</a></div><div class='amenity=hall
'><a>amenity=hall
</a></div><div class='amenity=marketplace
'><a>amenity=marketplace
</a></div><div class='amenity=bank
'><a>amenity=bank
</a></div><div class='amenity=complaint_center
'><a>amenity=complaint_center
</a></div><div class='amenity=fuel
'><a>amenity=fuel
</a></div><div class='amenity=cinema
'><a>amenity=cinema
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='shop=seafood
'><a>shop=seafood
</a></div><div class='man_made=water_well
'><a>man_made=water_well
</a></div><div class='historic=tomb
'><a>historic=tomb
</a></div><div class='waterway=dock
'><a>waterway=dock
</a></div><div class='sport=soccer
'><a>sport=soccer
</a></div><div class='sport=basketball
'><a>sport=basketball
</a></div><div class='sport=volleyball
'><a>sport=volleyball
</a></div><div class='sport=badmiton
'><a>sport=badmiton
</a></div><div class='sport=tennis
'><a>sport=tennis
</a></div><div class='sport=equestrian
'><a>sport=equestrian
</a></div><div class='landuse=landfill
'><a>landuse=landfill
</a></div><div class='leisure=playground
'><a>leisure=playground
</a></div><div class='man_made: tower
'><a>man_made: tower
</a></div><div class='bridge: yes
'><a>bridge: yes
</a></div><div class='
'><a>
</a></div><div class='### Landuse
'><a>### Landuse
</a></div><div class='landuse=farm
'><a>landuse=farm
</a></div><div class='landuse=meadowgrass
'><a>landuse=meadowgrass
</a></div><div class='landuse=fishpond
'><a>landuse=fishpond
</a></div><div class='landuse=salt_field
'><a>landuse=salt_field
</a></div><div class='landuse=forest
'><a>landuse=forest
</a></div><div class='landuse=conservation_forest
'><a>landuse=conservation_forest
</a></div><div class='landuse=family_forest
'><a>landuse=family_forest
</a></div><div class='landuse=peoples_plantations # (HTR)
'><a>landuse=peoples_plantations # (HTR)
</a></div><div class='landuse=community_forest # (HKM)
'><a>landuse=community_forest # (HKM)
</a></div><div class='landuse=industrial_forest # (HTI)
'><a>landuse=industrial_forest # (HTI)
</a></div><div class='
'><a>
</a></div><div class='### Structural indicators
'><a>### Structural indicators
</a></div><div class='building:structure=confined_masonry
'><a>building:structure=confined_masonry
</a></div><div class='building:structure=plastered
'><a>building:structure=plastered
</a></div><div class='building:structure=reinforced_masonry
'><a>building:structure=reinforced_masonry
</a></div><div class='building:structure=unreinforced_masonry
'><a>building:structure=unreinforced_masonry
</a></div><div class='building:roof=weed
'><a>building:roof=weed
</a></div><div class='building:roof=asbestos
'><a>building:roof=asbestos
</a></div><div class='building:roof=tile
'><a>building:roof=tile
</a></div><div class='building:roof=wood
'><a>building:roof=wood
</a></div><div class='building:roof=tin
'><a>building:roof=tin
</a></div><div class='building:condition=excellent
'><a>building:condition=excellent
</a></div><div class='building:condition=good
'><a>building:condition=good
</a></div><div class='building:condition=bad
'><a>building:condition=bad
</a></div><div class='building:condition=very bad
'><a>building:condition=very bad
</a></div><div class='building:wall=bamboo
'><a>building:wall=bamboo
</a></div><div class='building:wall=half
'><a>building:wall=half
</a></div><div class='building:wall=stone
'><a>building:wall=stone
</a></div><div class='building:wall=wood 
'><a>building:wall=wood 
</a></div><div class='building:foundation=earthen
'><a>building:foundation=earthen
</a></div><div class='building:foundation=wooden
'><a>building:foundation=wooden
</a></div><div class='building:foundation=cement
'><a>building:foundation=cement
</a></div><div class='building:foundation=tile
'><a>building:foundation=tile
</a></div><div class='building:levels=1
'><a>building:levels=1
</a></div><div class='building:levels=2
'><a>building:levels=2
</a></div><div class='building:levels=3
'><a>building:levels=3
</a></div><div class='building:levels=4
'><a>building:levels=4
</a></div><div class='building:levels=5
'><a>building:levels=5
</a></div><div class='building:levels=6
'><a>building:levels=6
</a></div><div class='building:levels=7
'><a>building:levels=7
</a></div><div class='building:levels=8
'><a>building:levels=8
</a></div><div class='building:levels=9
'><a>building:levels=9
</a></div><div class='building:levels=10
'><a>building:levels=10
</a></div><div class='building:levels=10+
'><a>building:levels=10+
</a></div><div class='
'><a>
</a></div><div class='### Health Amenities
'><a>### Health Amenities
</a></div><div class='amenity=pharmacy
'><a>amenity=pharmacy
</a></div><div class='amenity=health_center
'><a>amenity=health_center
</a></div><div class='amenity=hospital
'><a>amenity=hospital
</a></div><div class='amenity=physician
'><a>amenity=physician
</a></div><div class='amenity=drugstore
'><a>amenity=drugstore
</a></div><div class='amenity=doctors
'><a>amenity=doctors
</a></div><div class='
'><a>
</a></div><div class='### Education amenities
'><a>### Education amenities
</a></div><div class='amenity=kindergarten
'><a>amenity=kindergarten
</a></div><div class='amenity=school
'><a>amenity=school
</a></div><div class='amenity=college
'><a>amenity=college
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='amenity=university
'><a>amenity=university
</a></div><div class='amenity=primary 
'><a>amenity=primary 
</a></div><div class='amenity=secondary 
'><a>amenity=secondary 
</a></div><div class='amenity=informal 
'><a>amenity=informal 
</a></div><div class='
'><a>
</a></div><div class='### Civic amenities
'><a>### Civic amenities
</a></div><div class='amenity= police
'><a>amenity= police
</a></div><div class='amenity= post_office
'><a>amenity= post_office
</a></div><div class='amenity= prison
'><a>amenity= prison
</a></div><div class='amenity= townhall
'><a>amenity= townhall
</a></div><div class='landuse=military
'><a>landuse=military
</a></div><div class='office=government
'><a>office=government
</a></div><div class='office=newspaper
'><a>office=newspaper
</a></div><div class='office=ngo
'><a>office=ngo
</a></div><div class='office=administrative 
'><a>office=administrative 
</a></div><div class='amenity=water_source
'><a>amenity=water_source
</a></div><div class='amenity=restroom
'><a>amenity=restroom
</a></div><div class='amenity=place_of_worship
'><a>amenity=place_of_worship
</a></div><div class='amenity=hall
'><a>amenity=hall
</a></div><div class='amenity=marketplace
'><a>amenity=marketplace
</a></div><div class='amenity=bank
'><a>amenity=bank
</a></div><div class='amenity=complaint_center
'><a>amenity=complaint_center
</a></div><div class='amenity=fuel
'><a>amenity=fuel
</a></div><div class='amenity=cinema
'><a>amenity=cinema
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='shop=seafood
'><a>shop=seafood
</a></div><div class='man_made=water_well
'><a>man_made=water_well
</a></div><div class='historic=tomb
'><a>historic=tomb
</a></div><div class='waterway=dock
'><a>waterway=dock
</a></div><div class='sport=soccer
'><a>sport=soccer
</a></div><div class='sport=basketball
'><a>sport=basketball
</a></div><div class='sport=volleyball
'><a>sport=volleyball
</a></div><div class='sport=badmiton
'><a>sport=badmiton
</a></div><div class='sport=tennis
'><a>sport=tennis
</a></div><div class='sport=equestrian
'><a>sport=equestrian
</a></div><div class='landuse=landfill
'><a>landuse=landfill
</a></div><div class='leisure=playground
'><a>leisure=playground
</a></div><div class='man_made: tower
'><a>man_made: tower
</a></div><div class='bridge: yes
'><a>bridge: yes
</a></div><div class='
'><a>
</a></div><div class='### Landuse
'><a>### Landuse
</a></div><div class='landuse=farm
'><a>landuse=farm
</a></div><div class='landuse=meadowgrass
'><a>landuse=meadowgrass
</a></div><div class='landuse=fishpond
'><a>landuse=fishpond
</a></div><div class='landuse=salt_field
'><a>landuse=salt_field
</a></div><div class='landuse=forest
'><a>landuse=forest
</a></div><div class='landuse=conservation_forest
'><a>landuse=conservation_forest
</a></div><div class='landuse=family_forest
'><a>landuse=family_forest
</a></div><div class='landuse=peoples_plantations # (HTR)
'><a>landuse=peoples_plantations # (HTR)
</a></div><div class='landuse=community_forest # (HKM)
'><a>landuse=community_forest # (HKM)
</a></div><div class='landuse=industrial_forest # (HTI)
'><a>landuse=industrial_forest # (HTI)
</a></div><div class='
'><a>
</a></div><div class='### Structural indicators
'><a>### Structural indicators
</a></div><div class='building:structure=confined_masonry
'><a>building:structure=confined_masonry
</a></div><div class='building:structure=plastered
'><a>building:structure=plastered
</a></div><div class='building:structure=reinforced_masonry
'><a>building:structure=reinforced_masonry
</a></div><div class='building:structure=unreinforced_masonry
'><a>building:structure=unreinforced_masonry
</a></div><div class='building:roof=weed
'><a>building:roof=weed
</a></div><div class='building:roof=asbestos
'><a>building:roof=asbestos
</a></div><div class='building:roof=tile
'><a>building:roof=tile
</a></div><div class='building:roof=wood
'><a>building:roof=wood
</a></div><div class='building:roof=tin
'><a>building:roof=tin
</a></div><div class='building:condition=excellent
'><a>building:condition=excellent
</a></div><div class='building:condition=good
'><a>building:condition=good
</a></div><div class='building:condition=bad
'><a>building:condition=bad
</a></div><div class='building:condition=very bad
'><a>building:condition=very bad
</a></div><div class='building:wall=bamboo
'><a>building:wall=bamboo
</a></div><div class='building:wall=half
'><a>building:wall=half
</a></div><div class='building:wall=stone
'><a>building:wall=stone
</a></div><div class='building:wall=wood 
'><a>building:wall=wood 
</a></div><div class='building:foundation=earthen
'><a>building:foundation=earthen
</a></div><div class='building:foundation=wooden
'><a>building:foundation=wooden
</a></div><div class='building:foundation=cement
'><a>building:foundation=cement
</a></div><div class='building:foundation=tile
'><a>building:foundation=tile
</a></div><div class='building:levels=1
'><a>building:levels=1
</a></div><div class='building:levels=2
'><a>building:levels=2
</a></div><div class='building:levels=3
'><a>building:levels=3
</a></div><div class='building:levels=4
'><a>building:levels=4
</a></div><div class='building:levels=5
'><a>building:levels=5
</a></div><div class='building:levels=6
'><a>building:levels=6
</a></div><div class='building:levels=7
'><a>building:levels=7
</a></div><div class='building:levels=8
'><a>building:levels=8
</a></div><div class='building:levels=9
'><a>building:levels=9
</a></div><div class='building:levels=10
'><a>building:levels=10
</a></div><div class='building:levels=10+
'><a>building:levels=10+
</a></div><div class='
'><a>
</a></div><div class='### Health Amenities
'><a>### Health Amenities
</a></div><div class='amenity=pharmacy
'><a>amenity=pharmacy
</a></div><div class='amenity=health_center
'><a>amenity=health_center
</a></div><div class='amenity=hospital
'><a>amenity=hospital
</a></div><div class='amenity=physician
'><a>amenity=physician
</a></div><div class='amenity=drugstore
'><a>amenity=drugstore
</a></div><div class='amenity=doctors
'><a>amenity=doctors
</a></div><div class='
'><a>
</a></div><div class='### Education amenities
'><a>### Education amenities
</a></div><div class='amenity=kindergarten
'><a>amenity=kindergarten
</a></div><div class='amenity=school
'><a>amenity=school
</a></div><div class='amenity=college
'><a>amenity=college
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='amenity=university
'><a>amenity=university
</a></div><div class='amenity=primary 
'><a>amenity=primary 
</a></div><div class='amenity=secondary 
'><a>amenity=secondary 
</a></div><div class='amenity=informal 
'><a>amenity=informal 
</a></div><div class='
'><a>
</a></div><div class='### Civic amenities
'><a>### Civic amenities
</a></div><div class='amenity= police
'><a>amenity= police
</a></div><div class='amenity= post_office
'><a>amenity= post_office
</a></div><div class='amenity= prison
'><a>amenity= prison
</a></div><div class='amenity= townhall
'><a>amenity= townhall
</a></div><div class='landuse=military
'><a>landuse=military
</a></div><div class='office=government
'><a>office=government
</a></div><div class='office=newspaper
'><a>office=newspaper
</a></div><div class='office=ngo
'><a>office=ngo
</a></div><div class='office=administrative 
'><a>office=administrative 
</a></div><div class='amenity=water_source
'><a>amenity=water_source
</a></div><div class='amenity=restroom
'><a>amenity=restroom
</a></div><div class='amenity=place_of_worship
'><a>amenity=place_of_worship
</a></div><div class='amenity=hall
'><a>amenity=hall
</a></div><div class='amenity=marketplace
'><a>amenity=marketplace
</a></div><div class='amenity=bank
'><a>amenity=bank
</a></div><div class='amenity=complaint_center
'><a>amenity=complaint_center
</a></div><div class='amenity=fuel
'><a>amenity=fuel
</a></div><div class='amenity=cinema
'><a>amenity=cinema
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='shop=seafood
'><a>shop=seafood
</a></div><div class='man_made=water_well
'><a>man_made=water_well
</a></div><div class='historic=tomb
'><a>historic=tomb
</a></div><div class='waterway=dock
'><a>waterway=dock
</a></div><div class='sport=soccer
'><a>sport=soccer
</a></div><div class='sport=basketball
'><a>sport=basketball
</a></div><div class='sport=volleyball
'><a>sport=volleyball
</a></div><div class='sport=badmiton
'><a>sport=badmiton
</a></div><div class='sport=tennis
'><a>sport=tennis
</a></div><div class='sport=equestrian
'><a>sport=equestrian
</a></div><div class='landuse=landfill
'><a>landuse=landfill
</a></div><div class='leisure=playground
'><a>leisure=playground
</a></div><div class='man_made: tower
'><a>man_made: tower
</a></div><div class='bridge: yes
'><a>bridge: yes
</a></div><div class='
'><a>
</a></div><div class='### Landuse
'><a>### Landuse
</a></div><div class='landuse=farm
'><a>landuse=farm
</a></div><div class='landuse=meadowgrass
'><a>landuse=meadowgrass
</a></div><div class='landuse=fishpond
'><a>landuse=fishpond
</a></div><div class='landuse=salt_field
'><a>landuse=salt_field
</a></div><div class='landuse=forest
'><a>landuse=forest
</a></div><div class='landuse=conservation_forest
'><a>landuse=conservation_forest
</a></div><div class='landuse=family_forest
'><a>landuse=family_forest
</a></div><div class='landuse=peoples_plantations # (HTR)
'><a>landuse=peoples_plantations # (HTR)
</a></div><div class='landuse=community_forest # (HKM)
'><a>landuse=community_forest # (HKM)
</a></div><div class='landuse=industrial_forest # (HTI)
'><a>landuse=industrial_forest # (HTI)
</a></div><div class='
'><a>
</a></div><div class='### Structural indicators
'><a>### Structural indicators
</a></div><div class='building:structure=confined_masonry
'><a>building:structure=confined_masonry
</a></div><div class='building:structure=plastered
'><a>building:structure=plastered
</a></div><div class='building:structure=reinforced_masonry
'><a>building:structure=reinforced_masonry
</a></div><div class='building:structure=unreinforced_masonry
'><a>building:structure=unreinforced_masonry
</a></div><div class='building:roof=weed
'><a>building:roof=weed
</a></div><div class='building:roof=asbestos
'><a>building:roof=asbestos
</a></div><div class='building:roof=tile
'><a>building:roof=tile
</a></div><div class='building:roof=wood
'><a>building:roof=wood
</a></div><div class='building:roof=tin
'><a>building:roof=tin
</a></div><div class='building:condition=excellent
'><a>building:condition=excellent
</a></div><div class='building:condition=good
'><a>building:condition=good
</a></div><div class='building:condition=bad
'><a>building:condition=bad
</a></div><div class='building:condition=very bad
'><a>building:condition=very bad
</a></div><div class='building:wall=bamboo
'><a>building:wall=bamboo
</a></div><div class='building:wall=half
'><a>building:wall=half
</a></div><div class='building:wall=stone
'><a>building:wall=stone
</a></div><div class='building:wall=wood 
'><a>building:wall=wood 
</a></div><div class='building:foundation=earthen
'><a>building:foundation=earthen
</a></div><div class='building:foundation=wooden
'><a>building:foundation=wooden
</a></div><div class='building:foundation=cement
'><a>building:foundation=cement
</a></div><div class='building:foundation=tile
'><a>building:foundation=tile
</a></div><div class='building:levels=1
'><a>building:levels=1
</a></div><div class='building:levels=2
'><a>building:levels=2
</a></div><div class='building:levels=3
'><a>building:levels=3
</a></div><div class='building:levels=4
'><a>building:levels=4
</a></div><div class='building:levels=5
'><a>building:levels=5
</a></div><div class='building:levels=6
'><a>building:levels=6
</a></div><div class='building:levels=7
'><a>building:levels=7
</a></div><div class='building:levels=8
'><a>building:levels=8
</a></div><div class='building:levels=9
'><a>building:levels=9
</a></div><div class='building:levels=10
'><a>building:levels=10
</a></div><div class='building:levels=10+
'><a>building:levels=10+
</a></div><div class='
'><a>
</a></div><div class='### Health Amenities
'><a>### Health Amenities
</a></div><div class='amenity=pharmacy
'><a>amenity=pharmacy
</a></div><div class='amenity=health_center
'><a>amenity=health_center
</a></div><div class='amenity=hospital
'><a>amenity=hospital
</a></div><div class='amenity=physician
'><a>amenity=physician
</a></div><div class='amenity=drugstore
'><a>amenity=drugstore
</a></div><div class='amenity=doctors
'><a>amenity=doctors
</a></div><div class='
'><a>
</a></div><div class='### Education amenities
'><a>### Education amenities
</a></div><div class='amenity=kindergarten
'><a>amenity=kindergarten
</a></div><div class='amenity=school
'><a>amenity=school
</a></div><div class='amenity=college
'><a>amenity=college
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='amenity=university
'><a>amenity=university
</a></div><div class='amenity=primary 
'><a>amenity=primary 
</a></div><div class='amenity=secondary 
'><a>amenity=secondary 
</a></div><div class='amenity=informal 
'><a>amenity=informal 
</a></div><div class='
'><a>
</a></div><div class='### Civic amenities
'><a>### Civic amenities
</a></div><div class='amenity= police
'><a>amenity= police
</a></div><div class='amenity= post_office
'><a>amenity= post_office
</a></div><div class='amenity= prison
'><a>amenity= prison
</a></div><div class='amenity= townhall
'><a>amenity= townhall
</a></div><div class='landuse=military
'><a>landuse=military
</a></div><div class='office=government
'><a>office=government
</a></div><div class='office=newspaper
'><a>office=newspaper
</a></div><div class='office=ngo
'><a>office=ngo
</a></div><div class='office=administrative 
'><a>office=administrative 
</a></div><div class='amenity=water_source
'><a>amenity=water_source
</a></div><div class='amenity=restroom
'><a>amenity=restroom
</a></div><div class='amenity=place_of_worship
'><a>amenity=place_of_worship
</a></div><div class='amenity=hall
'><a>amenity=hall
</a></div><div class='amenity=marketplace
'><a>amenity=marketplace
</a></div><div class='amenity=bank
'><a>amenity=bank
</a></div><div class='amenity=complaint_center
'><a>amenity=complaint_center
</a></div><div class='amenity=fuel
'><a>amenity=fuel
</a></div><div class='amenity=cinema
'><a>amenity=cinema
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='shop=seafood
'><a>shop=seafood
</a></div><div class='man_made=water_well
'><a>man_made=water_well
</a></div><div class='historic=tomb
'><a>historic=tomb
</a></div><div class='waterway=dock
'><a>waterway=dock
</a></div><div class='sport=soccer
'><a>sport=soccer
</a></div><div class='sport=basketball
'><a>sport=basketball
</a></div><div class='sport=volleyball
'><a>sport=volleyball
</a></div><div class='sport=badmiton
'><a>sport=badmiton
</a></div><div class='sport=tennis
'><a>sport=tennis
</a></div><div class='sport=equestrian
'><a>sport=equestrian
</a></div><div class='landuse=landfill
'><a>landuse=landfill
</a></div><div class='leisure=playground
'><a>leisure=playground
</a></div><div class='man_made: tower
'><a>man_made: tower
</a></div><div class='bridge: yes
'><a>bridge: yes
</a></div><div class='
'><a>
</a></div><div class='### Landuse
'><a>### Landuse
</a></div><div class='landuse=farm
'><a>landuse=farm
</a></div><div class='landuse=meadowgrass
'><a>landuse=meadowgrass
</a></div><div class='landuse=fishpond
'><a>landuse=fishpond
</a></div><div class='landuse=salt_field
'><a>landuse=salt_field
</a></div><div class='landuse=forest
'><a>landuse=forest
</a></div><div class='landuse=conservation_forest
'><a>landuse=conservation_forest
</a></div><div class='landuse=family_forest
'><a>landuse=family_forest
</a></div><div class='landuse=peoples_plantations # (HTR)
'><a>landuse=peoples_plantations # (HTR)
</a></div><div class='landuse=community_forest # (HKM)
'><a>landuse=community_forest # (HKM)
</a></div><div class='landuse=industrial_forest # (HTI)
'><a>landuse=industrial_forest # (HTI)
</a></div><div class='
'><a>
</a></div><div class='### Structural indicators
'><a>### Structural indicators
</a></div><div class='building:structure=confined_masonry
'><a>building:structure=confined_masonry
</a></div><div class='building:structure=plastered
'><a>building:structure=plastered
</a></div><div class='building:structure=reinforced_masonry
'><a>building:structure=reinforced_masonry
</a></div><div class='building:structure=unreinforced_masonry
'><a>building:structure=unreinforced_masonry
</a></div><div class='building:roof=weed
'><a>building:roof=weed
</a></div><div class='building:roof=asbestos
'><a>building:roof=asbestos
</a></div><div class='building:roof=tile
'><a>building:roof=tile
</a></div><div class='building:roof=wood
'><a>building:roof=wood
</a></div><div class='building:roof=tin
'><a>building:roof=tin
</a></div><div class='building:condition=excellent
'><a>building:condition=excellent
</a></div><div class='building:condition=good
'><a>building:condition=good
</a></div><div class='building:condition=bad
'><a>building:condition=bad
</a></div><div class='building:condition=very bad
'><a>building:condition=very bad
</a></div><div class='building:wall=bamboo
'><a>building:wall=bamboo
</a></div><div class='building:wall=half
'><a>building:wall=half
</a></div><div class='building:wall=stone
'><a>building:wall=stone
</a></div><div class='building:wall=wood 
'><a>building:wall=wood 
</a></div><div class='building:foundation=earthen
'><a>building:foundation=earthen
</a></div><div class='building:foundation=wooden
'><a>building:foundation=wooden
</a></div><div class='building:foundation=cement
'><a>building:foundation=cement
</a></div><div class='building:foundation=tile
'><a>building:foundation=tile
</a></div><div class='building:levels=1
'><a>building:levels=1
</a></div><div class='building:levels=2
'><a>building:levels=2
</a></div><div class='building:levels=3
'><a>building:levels=3
</a></div><div class='building:levels=4
'><a>building:levels=4
</a></div><div class='building:levels=5
'><a>building:levels=5
</a></div><div class='building:levels=6
'><a>building:levels=6
</a></div><div class='building:levels=7
'><a>building:levels=7
</a></div><div class='building:levels=8
'><a>building:levels=8
</a></div><div class='building:levels=9
'><a>building:levels=9
</a></div><div class='building:levels=10
'><a>building:levels=10
</a></div><div class='building:levels=10+
'><a>building:levels=10+
</a></div><div class='
'><a>
</a></div><div class='### Health Amenities
'><a>### Health Amenities
</a></div><div class='amenity=pharmacy
'><a>amenity=pharmacy
</a></div><div class='amenity=health_center
'><a>amenity=health_center
</a></div><div class='amenity=hospital
'><a>amenity=hospital
</a></div><div class='amenity=physician
'><a>amenity=physician
</a></div><div class='amenity=drugstore
'><a>amenity=drugstore
</a></div><div class='amenity=doctors
'><a>amenity=doctors
</a></div><div class='
'><a>
</a></div><div class='### Education amenities
'><a>### Education amenities
</a></div><div class='amenity=kindergarten
'><a>amenity=kindergarten
</a></div><div class='amenity=school
'><a>amenity=school
</a></div><div class='amenity=college
'><a>amenity=college
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='amenity=university
'><a>amenity=university
</a></div><div class='amenity=primary 
'><a>amenity=primary 
</a></div><div class='amenity=secondary 
'><a>amenity=secondary 
</a></div><div class='amenity=informal 
'><a>amenity=informal 
</a></div><div class='
'><a>
</a></div><div class='### Civic amenities
'><a>### Civic amenities
</a></div><div class='amenity= police
'><a>amenity= police
</a></div><div class='amenity= post_office
'><a>amenity= post_office
</a></div><div class='amenity= prison
'><a>amenity= prison
</a></div><div class='amenity= townhall
'><a>amenity= townhall
</a></div><div class='landuse=military
'><a>landuse=military
</a></div><div class='office=government
'><a>office=government
</a></div><div class='office=newspaper
'><a>office=newspaper
</a></div><div class='office=ngo
'><a>office=ngo
</a></div><div class='office=administrative 
'><a>office=administrative 
</a></div><div class='amenity=water_source
'><a>amenity=water_source
</a></div><div class='amenity=restroom
'><a>amenity=restroom
</a></div><div class='amenity=place_of_worship
'><a>amenity=place_of_worship
</a></div><div class='amenity=hall
'><a>amenity=hall
</a></div><div class='amenity=marketplace
'><a>amenity=marketplace
</a></div><div class='amenity=bank
'><a>amenity=bank
</a></div><div class='amenity=complaint_center
'><a>amenity=complaint_center
</a></div><div class='amenity=fuel
'><a>amenity=fuel
</a></div><div class='amenity=cinema
'><a>amenity=cinema
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='shop=seafood
'><a>shop=seafood
</a></div><div class='man_made=water_well
'><a>man_made=water_well
</a></div><div class='historic=tomb
'><a>historic=tomb
</a></div><div class='waterway=dock
'><a>waterway=dock
</a></div><div class='sport=soccer
'><a>sport=soccer
</a></div><div class='sport=basketball
'><a>sport=basketball
</a></div><div class='sport=volleyball
'><a>sport=volleyball
</a></div><div class='sport=badmiton
'><a>sport=badmiton
</a></div><div class='sport=tennis
'><a>sport=tennis
</a></div><div class='sport=equestrian
'><a>sport=equestrian
</a></div><div class='landuse=landfill
'><a>landuse=landfill
</a></div><div class='leisure=playground
'><a>leisure=playground
</a></div><div class='man_made: tower
'><a>man_made: tower
</a></div><div class='bridge: yes
'><a>bridge: yes
</a></div><div class='
'><a>
</a></div><div class='### Landuse
'><a>### Landuse
</a></div><div class='landuse=farm
'><a>landuse=farm
</a></div><div class='landuse=meadowgrass
'><a>landuse=meadowgrass
</a></div><div class='landuse=fishpond
'><a>landuse=fishpond
</a></div><div class='landuse=salt_field
'><a>landuse=salt_field
</a></div><div class='landuse=forest
'><a>landuse=forest
</a></div><div class='landuse=conservation_forest
'><a>landuse=conservation_forest
</a></div><div class='landuse=family_forest
'><a>landuse=family_forest
</a></div><div class='landuse=peoples_plantations # (HTR)
'><a>landuse=peoples_plantations # (HTR)
</a></div><div class='landuse=community_forest # (HKM)
'><a>landuse=community_forest # (HKM)
</a></div><div class='landuse=industrial_forest # (HTI)
'><a>landuse=industrial_forest # (HTI)
</a></div><div class='
'><a>
</a></div><div class='### Structural indicators
'><a>### Structural indicators
</a></div><div class='building:structure=confined_masonry
'><a>building:structure=confined_masonry
</a></div><div class='building:structure=plastered
'><a>building:structure=plastered
</a></div><div class='building:structure=reinforced_masonry
'><a>building:structure=reinforced_masonry
</a></div><div class='building:structure=unreinforced_masonry
'><a>building:structure=unreinforced_masonry
</a></div><div class='building:roof=weed
'><a>building:roof=weed
</a></div><div class='building:roof=asbestos
'><a>building:roof=asbestos
</a></div><div class='building:roof=tile
'><a>building:roof=tile
</a></div><div class='building:roof=wood
'><a>building:roof=wood
</a></div><div class='building:roof=tin
'><a>building:roof=tin
</a></div><div class='building:condition=excellent
'><a>building:condition=excellent
</a></div><div class='building:condition=good
'><a>building:condition=good
</a></div><div class='building:condition=bad
'><a>building:condition=bad
</a></div><div class='building:condition=very bad
'><a>building:condition=very bad
</a></div><div class='building:wall=bamboo
'><a>building:wall=bamboo
</a></div><div class='building:wall=half
'><a>building:wall=half
</a></div><div class='building:wall=stone
'><a>building:wall=stone
</a></div><div class='building:wall=wood 
'><a>building:wall=wood 
</a></div><div class='building:foundation=earthen
'><a>building:foundation=earthen
</a></div><div class='building:foundation=wooden
'><a>building:foundation=wooden
</a></div><div class='building:foundation=cement
'><a>building:foundation=cement
</a></div><div class='building:foundation=tile
'><a>building:foundation=tile
</a></div><div class='building:levels=1
'><a>building:levels=1
</a></div><div class='building:levels=2
'><a>building:levels=2
</a></div><div class='building:levels=3
'><a>building:levels=3
</a></div><div class='building:levels=4
'><a>building:levels=4
</a></div><div class='building:levels=5
'><a>building:levels=5
</a></div><div class='building:levels=6
'><a>building:levels=6
</a></div><div class='building:levels=7
'><a>building:levels=7
</a></div><div class='building:levels=8
'><a>building:levels=8
</a></div><div class='building:levels=9
'><a>building:levels=9
</a></div><div class='building:levels=10
'><a>building:levels=10
</a></div><div class='building:levels=10+
'><a>building:levels=10+
</a></div><div class='
'><a>
</a></div><div class='### Health Amenities
'><a>### Health Amenities
</a></div><div class='amenity=pharmacy
'><a>amenity=pharmacy
</a></div><div class='amenity=health_center
'><a>amenity=health_center
</a></div><div class='amenity=hospital
'><a>amenity=hospital
</a></div><div class='amenity=physician
'><a>amenity=physician
</a></div><div class='amenity=drugstore
'><a>amenity=drugstore
</a></div><div class='amenity=doctors
'><a>amenity=doctors
</a></div><div class='
'><a>
</a></div><div class='### Education amenities
'><a>### Education amenities
</a></div><div class='amenity=kindergarten
'><a>amenity=kindergarten
</a></div><div class='amenity=school
'><a>amenity=school
</a></div><div class='amenity=college
'><a>amenity=college
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='amenity=university
'><a>amenity=university
</a></div><div class='amenity=primary 
'><a>amenity=primary 
</a></div><div class='amenity=secondary 
'><a>amenity=secondary 
</a></div><div class='amenity=informal 
'><a>amenity=informal 
</a></div><div class='
'><a>
</a></div><div class='### Civic amenities
'><a>### Civic amenities
</a></div><div class='amenity= police
'><a>amenity= police
</a></div><div class='amenity= post_office
'><a>amenity= post_office
</a></div><div class='amenity= prison
'><a>amenity= prison
</a></div><div class='amenity= townhall
'><a>amenity= townhall
</a></div><div class='landuse=military
'><a>landuse=military
</a></div><div class='office=government
'><a>office=government
</a></div><div class='office=newspaper
'><a>office=newspaper
</a></div><div class='office=ngo
'><a>office=ngo
</a></div><div class='office=administrative 
'><a>office=administrative 
</a></div><div class='amenity=water_source
'><a>amenity=water_source
</a></div><div class='amenity=restroom
'><a>amenity=restroom
</a></div><div class='amenity=place_of_worship
'><a>amenity=place_of_worship
</a></div><div class='amenity=hall
'><a>amenity=hall
</a></div><div class='amenity=marketplace
'><a>amenity=marketplace
</a></div><div class='amenity=bank
'><a>amenity=bank
</a></div><div class='amenity=complaint_center
'><a>amenity=complaint_center
</a></div><div class='amenity=fuel
'><a>amenity=fuel
</a></div><div class='amenity=cinema
'><a>amenity=cinema
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='shop=seafood
'><a>shop=seafood
</a></div><div class='man_made=water_well
'><a>man_made=water_well
</a></div><div class='historic=tomb
'><a>historic=tomb
</a></div><div class='waterway=dock
'><a>waterway=dock
</a></div><div class='sport=soccer
'><a>sport=soccer
</a></div><div class='sport=basketball
'><a>sport=basketball
</a></div><div class='sport=volleyball
'><a>sport=volleyball
</a></div><div class='sport=badmiton
'><a>sport=badmiton
</a></div><div class='sport=tennis
'><a>sport=tennis
</a></div><div class='sport=equestrian
'><a>sport=equestrian
</a></div><div class='landuse=landfill
'><a>landuse=landfill
</a></div><div class='leisure=playground
'><a>leisure=playground
</a></div><div class='man_made: tower
'><a>man_made: tower
</a></div><div class='bridge: yes
'><a>bridge: yes
</a></div><div class='
'><a>
</a></div><div class='### Landuse
'><a>### Landuse
</a></div><div class='landuse=farm
'><a>landuse=farm
</a></div><div class='landuse=meadowgrass
'><a>landuse=meadowgrass
</a></div><div class='landuse=fishpond
'><a>landuse=fishpond
</a></div><div class='landuse=salt_field
'><a>landuse=salt_field
</a></div><div class='landuse=forest
'><a>landuse=forest
</a></div><div class='landuse=conservation_forest
'><a>landuse=conservation_forest
</a></div><div class='landuse=family_forest
'><a>landuse=family_forest
</a></div><div class='landuse=peoples_plantations # (HTR)
'><a>landuse=peoples_plantations # (HTR)
</a></div><div class='landuse=community_forest # (HKM)
'><a>landuse=community_forest # (HKM)
</a></div><div class='landuse=industrial_forest # (HTI)
'><a>landuse=industrial_forest # (HTI)
</a></div><div class='
'><a>
</a></div><div class='### Structural indicators
'><a>### Structural indicators
</a></div><div class='building:structure=confined_masonry
'><a>building:structure=confined_masonry
</a></div><div class='building:structure=plastered
'><a>building:structure=plastered
</a></div><div class='building:structure=reinforced_masonry
'><a>building:structure=reinforced_masonry
</a></div><div class='building:structure=unreinforced_masonry
'><a>building:structure=unreinforced_masonry
</a></div><div class='building:roof=weed
'><a>building:roof=weed
</a></div><div class='building:roof=asbestos
'><a>building:roof=asbestos
</a></div><div class='building:roof=tile
'><a>building:roof=tile
</a></div><div class='building:roof=wood
'><a>building:roof=wood
</a></div><div class='building:roof=tin
'><a>building:roof=tin
</a></div><div class='building:condition=excellent
'><a>building:condition=excellent
</a></div><div class='building:condition=good
'><a>building:condition=good
</a></div><div class='building:condition=bad
'><a>building:condition=bad
</a></div><div class='building:condition=very bad
'><a>building:condition=very bad
</a></div><div class='building:wall=bamboo
'><a>building:wall=bamboo
</a></div><div class='building:wall=half
'><a>building:wall=half
</a></div><div class='building:wall=stone
'><a>building:wall=stone
</a></div><div class='building:wall=wood 
'><a>building:wall=wood 
</a></div><div class='building:foundation=earthen
'><a>building:foundation=earthen
</a></div><div class='building:foundation=wooden
'><a>building:foundation=wooden
</a></div><div class='building:foundation=cement
'><a>building:foundation=cement
</a></div><div class='building:foundation=tile
'><a>building:foundation=tile
</a></div><div class='building:levels=1
'><a>building:levels=1
</a></div><div class='building:levels=2
'><a>building:levels=2
</a></div><div class='building:levels=3
'><a>building:levels=3
</a></div><div class='building:levels=4
'><a>building:levels=4
</a></div><div class='building:levels=5
'><a>building:levels=5
</a></div><div class='building:levels=6
'><a>building:levels=6
</a></div><div class='building:levels=7
'><a>building:levels=7
</a></div><div class='building:levels=8
'><a>building:levels=8
</a></div><div class='building:levels=9
'><a>building:levels=9
</a></div><div class='building:levels=10
'><a>building:levels=10
</a></div><div class='building:levels=10+
'><a>building:levels=10+
</a></div><div class='
'><a>
</a></div><div class='### Health Amenities
'><a>### Health Amenities
</a></div><div class='amenity=pharmacy
'><a>amenity=pharmacy
</a></div><div class='amenity=health_center
'><a>amenity=health_center
</a></div><div class='amenity=hospital
'><a>amenity=hospital
</a></div><div class='amenity=physician
'><a>amenity=physician
</a></div><div class='amenity=drugstore
'><a>amenity=drugstore
</a></div><div class='amenity=doctors
'><a>amenity=doctors
</a></div><div class='
'><a>
</a></div><div class='### Education amenities
'><a>### Education amenities
</a></div><div class='amenity=kindergarten
'><a>amenity=kindergarten
</a></div><div class='amenity=school
'><a>amenity=school
</a></div><div class='amenity=college
'><a>amenity=college
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='amenity=university
'><a>amenity=university
</a></div><div class='amenity=primary 
'><a>amenity=primary 
</a></div><div class='amenity=secondary 
'><a>amenity=secondary 
</a></div><div class='amenity=informal 
'><a>amenity=informal 
</a></div><div class='
'><a>
</a></div><div class='### Civic amenities
'><a>### Civic amenities
</a></div><div class='amenity= police
'><a>amenity= police
</a></div><div class='amenity= post_office
'><a>amenity= post_office
</a></div><div class='amenity= prison
'><a>amenity= prison
</a></div><div class='amenity= townhall
'><a>amenity= townhall
</a></div><div class='landuse=military
'><a>landuse=military
</a></div><div class='office=government
'><a>office=government
</a></div><div class='office=newspaper
'><a>office=newspaper
</a></div><div class='office=ngo
'><a>office=ngo
</a></div><div class='office=administrative 
'><a>office=administrative 
</a></div><div class='amenity=water_source
'><a>amenity=water_source
</a></div><div class='amenity=restroom
'><a>amenity=restroom
</a></div><div class='amenity=place_of_worship
'><a>amenity=place_of_worship
</a></div><div class='amenity=hall
'><a>amenity=hall
</a></div><div class='amenity=marketplace
'><a>amenity=marketplace
</a></div><div class='amenity=bank
'><a>amenity=bank
</a></div><div class='amenity=complaint_center
'><a>amenity=complaint_center
</a></div><div class='amenity=fuel
'><a>amenity=fuel
</a></div><div class='amenity=cinema
'><a>amenity=cinema
</a></div><div class='amenity=library
'><a>amenity=library
</a></div><div class='shop=seafood
'><a>shop=seafood
</a></div><div class='man_made=water_well
'><a>man_made=water_well
</a></div><div class='historic=tomb
'><a>historic=tomb
</a></div><div class='waterway=dock
'><a>waterway=dock
</a></div><div class='sport=soccer
'><a>sport=soccer
</a></div><div class='sport=basketball
'><a>sport=basketball
</a></div><div class='sport=volleyball
'><a>sport=volleyball
</a></div><div class='sport=badmiton
'><a>sport=badmiton
</a></div><div class='sport=tennis
'><a>sport=tennis
</a></div><div class='sport=equestrian
'><a>sport=equestrian
</a></div><div class='landuse=landfill
'><a>landuse=landfill
</a></div><div class='leisure=playground
'><a>leisure=playground
</a></div><div class='man_made: tower
'><a>man_made: tower
</a></div><div class='bridge: yes
'><a>bridge: yes
</a></div><div class='
'><a>
</a></div><div class='### Landuse
'><a>### Landuse
</a></div><div class='landuse=farm
'><a>landuse=farm
</a></div><div class='landuse=meadowgrass
'><a>landuse=meadowgrass
</a></div><div class='landuse=fishpond
'><a>landuse=fishpond
</a></div><div class='landuse=salt_field
'><a>landuse=salt_field
</a></div><div class='landuse=forest
'><a>landuse=forest
</a></div><div class='landuse=conservation_forest
'><a>landuse=conservation_forest
</a></div><div class='landuse=family_forest
'><a>landuse=family_forest
</a></div><div class='landuse=peoples_plantations # (HTR)
'><a>landuse=peoples_plantations # (HTR)
</a></div><div class='landuse=community_forest # (HKM)
'><a>landuse=community_forest # (HKM)
</a></div><div class='landuse=industrial_forest # (HTI)
'><a>landuse=industrial_forest # (HTI)
</a></div>