<h2>Health Amenities</h2>
<div class='item amenity pharmacy'><object data='icons/amenity=pharmacy.svg' type='image/svg+xml' width='50' height='50'></object>amenity=pharmacy</a></div>
<div class='item amenity health_center'><object data='icons/amenity=health_center.svg' type='image/svg+xml' width='50' height='50'></object>amenity=health_center</a></div>
<div class='item amenity hospital'><object data='icons/amenity=hospital.svg' type='image/svg+xml' width='50' height='50'></object>amenity=hospital</a></div>
<div class='item amenity physician'><object data='icons/amenity=physician.svg' type='image/svg+xml' width='50' height='50'></object>amenity=physician</a></div>
<div class='item amenity childrens_hospital'><object data='icons/amenity=childrens_hospital.svg' type='image/svg+xml' width='50' height='50'></object>amenity=childrens_hospital</a></div>
<h2>Education amenities</h2>
<div class='item amenity kindergarten'><object data='icons/amenity=kindergarten.svg' type='image/svg+xml' width='50' height='50'></object>amenity=kindergarten</a></div>
<div class='item amenity school'><object data='icons/amenity=school.svg' type='image/svg+xml' width='50' height='50'></object>amenity=school</a></div>
<div class='item amenity college'><object data='icons/amenity=college.svg' type='image/svg+xml' width='50' height='50'></object>amenity=college</a></div>
<div class='item amenity library'><object data='icons/amenity=library.svg' type='image/svg+xml' width='50' height='50'></object>amenity=library</a></div>
<div class='item amenity university'><object data='icons/amenity=university.svg' type='image/svg+xml' width='50' height='50'></object>amenity=university</a></div>
<div class='item amenity informal_education'><object data='icons/amenity=informal_education.svg' type='image/svg+xml' width='50' height='50'></object>amenity=informal_education</a></div>
<h2>Civic amenities</h2>
<div class='item amenity police'><object data='icons/amenity=police.svg' type='image/svg+xml' width='50' height='50'></object>amenity=police</a></div>
<div class='item amenity post_office'><object data='icons/amenity=post_office.svg' type='image/svg+xml' width='50' height='50'></object>amenity=post_office</a></div>
<div class='item amenity prison'><object data='icons/amenity=prison.svg' type='image/svg+xml' width='50' height='50'></object>amenity=prison</a></div>
<div class='item office government'><object data='icons/office=government.svg' type='image/svg+xml' width='50' height='50'></object>office=government</a></div>
<div class='item office newspaper'><object data='icons/office=newspaper.svg' type='image/svg+xml' width='50' height='50'></object>office=newspaper</a></div>
<div class='item office ngo'><object data='icons/office=ngo.svg' type='image/svg+xml' width='50' height='50'></object>office=ngo</a></div>
<div class='item amenity water_source'><object data='icons/amenity=water_source.svg' type='image/svg+xml' width='50' height='50'></object>amenity=water_source</a></div>
<div class='item amenity restroom'><object data='icons/amenity=restroom.svg' type='image/svg+xml' width='50' height='50'></object>amenity=restroom</a></div>
<div class='item amenity place_of_worship'><object data='icons/amenity=place_of_worship.svg' type='image/svg+xml' width='50' height='50'></object>amenity=place_of_worship</a></div>
<div class='item amenity hall'><object data='icons/amenity=hall.svg' type='image/svg+xml' width='50' height='50'></object>amenity=hall</a></div>
<div class='item amenity marketplace'><object data='icons/amenity=marketplace.svg' type='image/svg+xml' width='50' height='50'></object>amenity=marketplace</a></div>
<div class='item amenity bank'><object data='icons/amenity=bank.svg' type='image/svg+xml' width='50' height='50'></object>amenity=bank</a></div>
<div class='item amenity complaint_center'><object data='icons/amenity=complaint_center.svg' type='image/svg+xml' width='50' height='50'></object>amenity=complaint_center</a></div>
<div class='item amenity fuel'><object data='icons/amenity=fuel.svg' type='image/svg+xml' width='50' height='50'></object>amenity=fuel</a></div>
<div class='item amenity cinema'><object data='icons/amenity=cinema.svg' type='image/svg+xml' width='50' height='50'></object>amenity=cinema</a></div>
<div class='item amenity library'><object data='icons/amenity=library.svg' type='image/svg+xml' width='50' height='50'></object>amenity=library</a></div>
<div class='item amenity restaurant'><object data='icons/amenity=restaurant.svg' type='image/svg+xml' width='50' height='50'></object>amenity=restaurant</a></div>
<div class='item shop seafood'><object data='icons/shop=seafood.svg' type='image/svg+xml' width='50' height='50'></object>shop=seafood</a></div>
<div class='item man_made water_well'><object data='icons/man_made=water_well.svg' type='image/svg+xml' width='50' height='50'></object>man_made=water_well</a></div>
<div class='item historic yes'><object data='icons/historic=yes.svg' type='image/svg+xml' width='50' height='50'></object>historic=yes</a></div>
<div class='item waterway dock'><object data='icons/waterway=dock.svg' type='image/svg+xml' width='50' height='50'></object>waterway=dock</a></div>
<div class='item sport soccer'><object data='icons/sport=soccer.svg' type='image/svg+xml' width='50' height='50'></object>sport=soccer</a></div>
<div class='item sport basketball'><object data='icons/sport=basketball.svg' type='image/svg+xml' width='50' height='50'></object>sport=basketball</a></div>
<div class='item sport volleyball'><object data='icons/sport=volleyball.svg' type='image/svg+xml' width='50' height='50'></object>sport=volleyball</a></div>
<div class='item sport badmiton'><object data='icons/sport=badmiton.svg' type='image/svg+xml' width='50' height='50'></object>sport=badmiton</a></div>
<div class='item sport tennis'><object data='icons/sport=tennis.svg' type='image/svg+xml' width='50' height='50'></object>sport=tennis</a></div>
<div class='item sport horse_racing'><object data='icons/sport=horse_racing.svg' type='image/svg+xml' width='50' height='50'></object>sport=horse_racing</a></div>
<div class='item leisure playground'><object data='icons/leisure=playground.svg' type='image/svg+xml' width='50' height='50'></object>leisure=playground</a></div>
<div class='item landuse military'><object data='icons/landuse=military.svg' type='image/svg+xml' width='50' height='50'></object>landuse=military</a></div>
<div class='item man_made tower'><object data='icons/man_made=tower.svg' type='image/svg+xml' width='50' height='50'></object>man_made=tower</a></div>
<div class='item bridge yes'><object data='icons/bridge=yes.svg' type='image/svg+xml' width='50' height='50'></object>bridge=yes</a></div>
<h2>Landuse</h2>
<div class='item landuse farm'><object data='icons/landuse=farm.svg' type='image/svg+xml' width='50' height='50'></object>landuse=farm</a></div>
<div class='item landuse meadow'><object data='icons/landuse=meadow.svg' type='image/svg+xml' width='50' height='50'></object>landuse=meadow</a></div>
<div class='item landuse fishpond'><object data='icons/landuse=fishpond.svg' type='image/svg+xml' width='50' height='50'></object>landuse=fishpond</a></div>
<div class='item landuse salt_field'><object data='icons/landuse=salt_field.svg' type='image/svg+xml' width='50' height='50'></object>landuse=salt_field</a></div>
<div class='item landuse forest'><object data='icons/landuse=forest.svg' type='image/svg+xml' width='50' height='50'></object>landuse=forest</a></div>
<div class='item landuse landfill'><object data='icons/landuse=landfill.svg' type='image/svg+xml' width='50' height='50'></object>landuse=landfill</a></div>
<div class='item landuse conservation_forest'><object data='icons/landuse=conservation_forest.svg' type='image/svg+xml' width='50' height='50'></object>landuse=conservation_forest</a></div>
<div class='item landuse family_forest'><object data='icons/landuse=family_forest.svg' type='image/svg+xml' width='50' height='50'></object>landuse=family_forest</a></div>
<div class='item landuse peoples_plantations # (HTR)'><object data='icons/landuse=peoples_plantations # (HTR).svg' type='image/svg+xml' width='50' height='50'></object>landuse=peoples_plantations # (HTR)</a></div>
<div class='item landuse community_forest # (HKM)'><object data='icons/landuse=community_forest # (HKM).svg' type='image/svg+xml' width='50' height='50'></object>landuse=community_forest # (HKM)</a></div>
<div class='item landuse industrial_forest # (HTI)'><object data='icons/landuse=industrial_forest # (HTI).svg' type='image/svg+xml' width='50' height='50'></object>landuse=industrial_forest # (HTI)</a></div>
