<h2>Structural indicators</h2>
<div class='item building structure confined_masonry'><img src='building_structure_confined_masonry' /> <a>building:structure=confined_masonry</a></div>
<div class='item building structure plastered'><img src='building_structure_plastered' /> <a>building:structure=plastered</a></div>
<div class='item building structure reinforced_masonry'><img src='building_structure_reinforced_masonry' /> <a>building:structure=reinforced_masonry</a></div>
<div class='item building structure unreinforced_masonry'><img src='building_structure_unreinforced_masonry' /> <a>building:structure=unreinforced_masonry</a></div>
<div class='item building roof weed'><img src='building_roof_weed' /> <a>building:roof=weed</a></div>
<div class='item building roof asbestos'><img src='building_roof_asbestos' /> <a>building:roof=asbestos</a></div>
<div class='item building roof tile'><img src='building_roof_tile' /> <a>building:roof=tile</a></div>
<div class='item building roof wood'><img src='building_roof_wood' /> <a>building:roof=wood</a></div>
<div class='item building roof tin'><img src='building_roof_tin' /> <a>building:roof=tin</a></div>
<div class='item building condition excellent'><img src='building_condition_excellent' /> <a>building:condition=excellent</a></div>
<div class='item building condition good'><img src='building_condition_good' /> <a>building:condition=good</a></div>
<div class='item building condition bad'><img src='building_condition_bad' /> <a>building:condition=bad</a></div>
<div class='item building condition very bad'><img src='building_condition_very bad' /> <a>building:condition=very bad</a></div>
<div class='item building wall bamboo'><img src='building_wall_bamboo' /> <a>building:wall=bamboo</a></div>
<div class='item building wall half'><img src='building_wall_half' /> <a>building:wall=half</a></div>
<div class='item building wall stone'><img src='building_wall_stone' /> <a>building:wall=stone</a></div>
<div class='item building wall wood'><img src='building_wall_wood' /> <a>building:wall=wood</a></div>
<div class='item building foundation earthen'><img src='building_foundation_earthen' /> <a>building:foundation=earthen</a></div>
<div class='item building foundation wooden'><img src='building_foundation_wooden' /> <a>building:foundation=wooden</a></div>
<div class='item building foundation cement'><img src='building_foundation_cement' /> <a>building:foundation=cement</a></div>
<div class='item building foundation tile'><img src='building_foundation_tile' /> <a>building:foundation=tile</a></div>
<div class='item building levels 1'><img src='building_levels_1' /> <a>building:levels=1</a></div>
<div class='item building levels 2'><img src='building_levels_2' /> <a>building:levels=2</a></div>
<div class='item building levels 3'><img src='building_levels_3' /> <a>building:levels=3</a></div>
<div class='item building levels 4'><img src='building_levels_4' /> <a>building:levels=4</a></div>
<div class='item building levels 5'><img src='building_levels_5' /> <a>building:levels=5</a></div>
<div class='item building levels 6'><img src='building_levels_6' /> <a>building:levels=6</a></div>
<div class='item building levels 7'><img src='building_levels_7' /> <a>building:levels=7</a></div>
<div class='item building levels 8'><img src='building_levels_8' /> <a>building:levels=8</a></div>
<div class='item building levels 9'><img src='building_levels_9' /> <a>building:levels=9</a></div>
<div class='item building levels 10'><img src='building_levels_10' /> <a>building:levels=10</a></div>
<div class='item building levels 10+'><img src='building_levels_10+' /> <a>building:levels=10+</a></div>
<h2>Health Amenities</h2>
<div class='item amenity pharmacy'><img src='amenity_pharmacy' /> <a>amenity=pharmacy</a></div>
<div class='item amenity health_center'><img src='amenity_health_center' /> <a>amenity=health_center</a></div>
<div class='item amenity hospital'><img src='amenity_hospital' /> <a>amenity=hospital</a></div>
<div class='item amenity physician'><img src='amenity_physician' /> <a>amenity=physician</a></div>
<div class='item amenity drugstore'><img src='amenity_drugstore' /> <a>amenity=drugstore</a></div>
<div class='item amenity doctors'><img src='amenity_doctors' /> <a>amenity=doctors</a></div>
<h2>Education amenities</h2>
<div class='item amenity kindergarten'><img src='amenity_kindergarten' /> <a>amenity=kindergarten</a></div>
<div class='item amenity school'><img src='amenity_school' /> <a>amenity=school</a></div>
<div class='item amenity college'><img src='amenity_college' /> <a>amenity=college</a></div>
<div class='item amenity library'><img src='amenity_library' /> <a>amenity=library</a></div>
<div class='item amenity university'><img src='amenity_university' /> <a>amenity=university</a></div>
<div class='item amenity primary'><img src='amenity_primary' /> <a>amenity=primary</a></div>
<div class='item amenity secondary'><img src='amenity_secondary' /> <a>amenity=secondary</a></div>
<div class='item amenity informal'><img src='amenity_informal' /> <a>amenity=informal</a></div>
<h2>Civic amenities</h2>
<div class='item amenity  police'><img src='amenity_ police' /> <a>amenity= police</a></div>
<div class='item amenity  post_office'><img src='amenity_ post_office' /> <a>amenity= post_office</a></div>
<div class='item amenity  prison'><img src='amenity_ prison' /> <a>amenity= prison</a></div>
<div class='item amenity  townhall'><img src='amenity_ townhall' /> <a>amenity= townhall</a></div>
<div class='item office government'><img src='office_government' /> <a>office=government</a></div>
<div class='item office newspaper'><img src='office_newspaper' /> <a>office=newspaper</a></div>
<div class='item office ngo'><img src='office_ngo' /> <a>office=ngo</a></div>
<div class='item office administrative'><img src='office_administrative' /> <a>office=administrative</a></div>
<div class='item amenity water_source'><img src='amenity_water_source' /> <a>amenity=water_source</a></div>
<div class='item amenity restroom'><img src='amenity_restroom' /> <a>amenity=restroom</a></div>
<div class='item amenity place_of_worship'><img src='amenity_place_of_worship' /> <a>amenity=place_of_worship</a></div>
<div class='item amenity hall'><img src='amenity_hall' /> <a>amenity=hall</a></div>
<div class='item amenity marketplace'><img src='amenity_marketplace' /> <a>amenity=marketplace</a></div>
<div class='item amenity bank'><img src='amenity_bank' /> <a>amenity=bank</a></div>
<div class='item amenity complaint_center'><img src='amenity_complaint_center' /> <a>amenity=complaint_center</a></div>
<div class='item amenity fuel'><img src='amenity_fuel' /> <a>amenity=fuel</a></div>
<div class='item amenity cinema'><img src='amenity_cinema' /> <a>amenity=cinema</a></div>
<div class='item amenity library'><img src='amenity_library' /> <a>amenity=library</a></div>
<div class='item shop seafood'><img src='shop_seafood' /> <a>shop=seafood</a></div>
<div class='item man_made water_well'><img src='man_made_water_well' /> <a>man_made=water_well</a></div>
<div class='item historic tomb'><img src='historic_tomb' /> <a>historic=tomb</a></div>
<div class='item waterway dock'><img src='waterway_dock' /> <a>waterway=dock</a></div>
<div class='item sport soccer'><img src='sport_soccer' /> <a>sport=soccer</a></div>
<div class='item sport basketball'><img src='sport_basketball' /> <a>sport=basketball</a></div>
<div class='item sport volleyball'><img src='sport_volleyball' /> <a>sport=volleyball</a></div>
<div class='item sport badmiton'><img src='sport_badmiton' /> <a>sport=badmiton</a></div>
<div class='item sport tennis'><img src='sport_tennis' /> <a>sport=tennis</a></div>
<div class='item sport equestrian'><img src='sport_equestrian' /> <a>sport=equestrian</a></div>
<div class='item landuse landfill'><img src='landuse_landfill' /> <a>landuse=landfill</a></div>
<div class='item leisure playground'><img src='leisure_playground' /> <a>leisure=playground</a></div>
<div class='item landuse military'><img src='landuse_military' /> <a>landuse=military</a></div>
<div class='item man_made  tower'><img src='man_made_ tower' /> <a>man_made: tower</a></div>
<div class='item bridge  yes'><img src='bridge_ yes' /> <a>bridge: yes</a></div>
<h2>Landuse</h2>
<div class='item landuse farm'><img src='landuse_farm' /> <a>landuse=farm</a></div>
<div class='item landuse meadowgrass'><img src='landuse_meadowgrass' /> <a>landuse=meadowgrass</a></div>
<div class='item landuse fishpond'><img src='landuse_fishpond' /> <a>landuse=fishpond</a></div>
<div class='item landuse salt_field'><img src='landuse_salt_field' /> <a>landuse=salt_field</a></div>
<div class='item landuse forest'><img src='landuse_forest' /> <a>landuse=forest</a></div>
<div class='item landuse conservation_forest'><img src='landuse_conservation_forest' /> <a>landuse=conservation_forest</a></div>
<div class='item landuse family_forest'><img src='landuse_family_forest' /> <a>landuse=family_forest</a></div>
<div class='item landuse peoples_plantations # (HTR)'><img src='landuse_peoples_plantations # (HTR)' /> <a>landuse=peoples_plantations # (HTR)</a></div>
<div class='item landuse community_forest # (HKM)'><img src='landuse_community_forest # (HKM)' /> <a>landuse=community_forest # (HKM)</a></div>
<div class='item landuse industrial_forest # (HTI)'><img src='landuse_industrial_forest # (HTI)' /> <a>landuse=industrial_forest # (HTI)</a></div>
