<!doctype html>
<html lang='en-us'>
   <head>
      <meta charset="utf-8">
      <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <title> HOT-ID Symbols</title>
   </head>

   <body>
      <h1>Proposed HOT Indonesia Symbology for Feedback</h1>
      <h3>See the HOT OSM <a href="#">wiki page</a>.</h3>
      
      <div class="content">
         <%= yield %>
      </div>
      
      <div class="footer">
         <p>These icons are freely reusable <a href="#">CC-BY</p> and <a href="#">Public Domain</a>. Prepared by Chris Blow with <a href="#">Humanitarian Openstreetmap Indonesia</a>.</p>
      </div>
   </body>

</html>