<!doctype html>
<html lang='en-us'>
   <head>
      <meta charset="utf-8">
      <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <title> HOT-ID Symbols</title>
   </head>

   <body>
      <h1> Proposed HOT Indonesia Symbology </h1>
      
      <div class="content">
         <%= yield %>
      </div>
      
   </body>

</html>