<!doctype html >
<html lang='en-us'>
   <head>
      
      <meta charset="utf-8">
      
      <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
      <!--[if IE]>
          <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <![endif]-->
      <title>
      </title>
   </head>

   <body>
      <h1> HOT Indonesia Symbology </h1>

      <div class="content">
         <%= yield %>
      </div>
      
   </body>

</html>