<!doctype html>
<html lang='en-us'>
   <head>
      <meta charset="utf-8">
      <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
      <title>HOT-ID Symbols</title>
   </head>

   <body>
      <h1>Proposed HOT Indonesia Symbology for Feedback</h1>
      <h3>See the HOT OSM <a href="http://wiki.openstreetmap.org/wiki/Humanitarian_OSM_Tags_Indonesia_2011">wiki page</a> about these icons.</h3>
      
      <div class="content">
         <%= yield %>
      </div>
      
      <div class="footer">
         <p>These icons are freely reusable CC-BY from <a href="http://thenounproject.com/">the Noun Project</p> and Public Domain thanks to <a href="http://www.sjjb.co.uk/mapicons/">SJJB</a>. Compiled by Chris Blow with <a href="#">Humanitarian Openstreetmap Indonesia</a>. Last updated Nov 8.</p>
      </div>
   </body>

</html>