/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 86, ../../compass/sass/screen.scss */
body {
  font-family: georgia, serif;
  background: #ccc;
}
/* line 7, ../../compass/sass/screen.scss */
body h1, body h2 {
  font-size: 20px;
  float: left;
  clear: both;
  width: 100%;
  padding: 10px;
}
/* line 15, ../../compass/sass/screen.scss */
body div.footer {
  float: left;
  clear: both;
}
/* line 19, ../../compass/sass/screen.scss */
body .attribution {
  font-size: 8px;
  color: #c3c3c3;
}
/* line 23, ../../compass/sass/screen.scss */
body h2 {
  border-bottom: 1px solid #888;
}
/* line 27, ../../compass/sass/screen.scss */
body div.item {
  float: left;
  width: 200px;
  padding: 10px;
  margin: 10px;
  font-size: 11px;
  border-top: 2px solid #c3c3c3;
  overflow: hidden;
  text-align: center;
  background: #fff;
}
/* line 37, ../../compass/sass/screen.scss */
body div.item:hover {
  overflow: visible;
}
/* line 41, ../../compass/sass/screen.scss */
body div.item object {
  width: 20px;
  height: 20px;
  padding: 5px;
  margin: 0 auto;
  display: block;
}
/* line 48, ../../compass/sass/screen.scss */
body div.item object.large {
  width: 50px;
  height: 50px;
}
/* line 55, ../../compass/sass/screen.scss */
body div.item a {
  float: left;
  clear: both;
  width: 100%;
}
/* line 62, ../../compass/sass/screen.scss */
body div.landuse {
  border-color: green;
}
/* line 65, ../../compass/sass/screen.scss */
body div.building {
  border-color: black;
}
/* line 69, ../../compass/sass/screen.scss */
body div.amenity {
  border-color: red;
}
/* line 73, ../../compass/sass/screen.scss */
body div.office {
  border-color: orange;
}
/* line 77, ../../compass/sass/screen.scss */
body div.shop {
  border-color: pink;
}
/* line 81, ../../compass/sass/screen.scss */
body div.sport {
  border-color: blue;
}
